---
http_interactions:
  - request:
      method: get
      uri: https://scraper.myzivi.ch/dev/current_postings.json
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"9083fc0937cefced1eeccb2f5b8bf3a4"
      body:
        encoding: UTF-8
        string: '[{"publication_date":"Sun, 28 Aug 2022 06:31:11 +0000","title":"Hilfsbetreuer","identification_number":18470,"description":"\n\t\t\t\n\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t<li>\n<strong>30%\n\t\t\t\t\t\t\t\t\t\tHausdienst</strong><br>Mithilfe im Haushalt / Unterstützung bei der Erziehungsplanung und bei administrativen Tätigkeiten der Wohngemeinschaft</li>\n\t\t\t\t\t\t\t\t<li>\n<strong>60%\n\t\t\t\t\t\t\t\t\t\tBetreuung</strong><br>Betreuen und Begleiten von geistig behinderten Menschen bei den täglichen Tätigkeiten</li>\n\t\t\t\t\t\t\t\t<li>\n<strong>10%\n\t\t\t\t\t\t\t\t\t\tFreizeitgestaltung</strong><br>Mitgestalten der Freizeit (basteln, werken)</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\n\t\t","required_skills":"Abgeschlossene Berufslehre/Mittelschule / Physisch und psychisch belastbar / Soziale Kompetenz\n\t\t\t","preferred_skills":"Teamfähigkeit","required_courses":["Kommunikation & Betreuung","Betreuung von Menschen mit einer Beeinträchtigung 1","Betreuung von Menschen mit einer Beeinträchtigung 2"],"free_service_periods":[],"canton":"LU","category":"social_welfare","organization_name":"CASA FARFALLA","sub_category":"support_and_accompaniment","minimum_service_months":1,"priority_program":true,"language":"de-CH","last_found_at":"Tue, 13 Sep 2022 04:56:46 +0000","contact":{"gender":"Herr","job":"Leiter Grossfamilie","first_name":null,"last_name":"n/a n/a","phone":"+ 41 41 980 61 83","email":null},"address":{"primary_line":"CASA FARFALLA","secondary_line":null,"street":"Erlenstrasse 23","supplement":null,"city":"Emmenbrücke","zip":6020,"latitude":47.07833455,"longitude":8.26958010337137}},{"publication_date":"Tue, 30 Aug 2022 06:23:47 +0000","title":"Spielplatzbetreuer","identification_number":18588,"description":"\n\t\t\t\n\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t<li>\n<strong>5%\n\t\t\t\t\t\t\t\t\t\tBüroarbeit</strong><br>Erstellen von BenutzerInnenstatistik, Beteiligung bei Versandarbeiten, Vermietung Barackenlokal und Spielzeug</li>\n\t\t\t\t\t\t\t\t<li>\n<strong>25%\n\t\t\t\t\t\t\t\t\t\tAnimation mit Kindern</strong><br>Kinderbetreuung, Znüni, Hilfe bei Konflikte[...]
