---
http_interactions:
- request:
    method: get
    uri: https://scraper.myzivi.ch/dev/current_postings.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"dde74a38e94b3dbfbffa157e6efcaee6"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<channel>\n  <job_posting>\n
        \   <publication_date>Sun, 12 Sep 2021 05:01:01 +0200</publication_date>\n
        \   <title>Unterstützung im Unterricht und bei der Betreuung (Schulkreis Staad
        und Altenrhein)</title>\n    <identification_number>94517</identification_number>\n
        \   <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;100% Unterstützung
        Unterricht und Betreuung&lt;/strong&gt;&lt;br&gt;Fachbereich Unterricht:\nUnter
        Anleitung des zuständigen Lehrpersonals Unterstützung und Entlastung als Klassen-
        und Schülerhilfe; Unterstützung der Lehrpersonen zur Wahrnehmung sozialpädagogischer
        Aufgaben (z.B. temporäre Übernahme von Betreuungsaufgaben von Schüler/innengruppen;
        als Spielbegleitung und Unterstützung in der Aufgabenhilfe; bei offenen Unterrichtsformen,
        etc.); Unterstützung während des Unterrichts in Situationen mit erhöhtem Betreuungsbedarf.\n\nFachbereich
        Betreuung:\nUnter der fachlichen Anleitung des zuständigen Betreuungspersonals
        Unterstützung und Entlastung in den Betreuungseinrichtungen; Unterstützung
        bei der Betreuung von Kindern mit erhöhtem Betreuungsbedarf; Schulwegbegleitung;
        Freizeitaktivitäten; schulergänzende Massnahmen; Spielbetreuung und Begleitung
        bei der Hausaufgabenerledigung; Mittagstisch.\n\nBesondere fachübergreifende
        Unterstützung:\nUnterstützung von Schulprojekten (z.B. Internetrecherchen
        für Exkursionen und Schulreisen; Aufbau einer Ordnerstruktur in Teams, etc.);
        Mithilfe bei der Dokumentation und in der Administration; Mitarbeit im schulischen
        Qualitätsmanagement, bei Projektwochen und -tagen; Begleitung von Klassenlagern
        (mit erhöhter Präsenzzeit); Unterstützung in Projekten der Schulsozialarbeitenden;
        Sporttage; Aufgaben im Hausdienst.&lt;/li&gt;\n\t\t\t&lt;/ul&gt;</description>\n
        \   <required_skills>&lt;p&gt;\n\t\t\t\tAbgeschlossene Berufsausbildung oder
        Mittelschulabschluss (z.B. Matura, BMS, DMS, Handelsschule); Erfahrung, Freude
        und Geschick in der Arbeit mit Kindern und Jugendlichen; Verantwortungsbewusstsein;
        Teamfähigkeit; Bereitschaft in einem lebhaften Umfeld mitzuarbeiten\n\t\t\t&lt;/p&gt;\n</required_skills>\n
        \   <preferred_skills>&lt;p&gt;\n\t\t\t\t\t-\n\t\t\t\t&lt;/p&gt;</preferred_skills>\n
        \   <required_courses>\n      <required_course>Betreuung von Kindern 1</required_course>\n
        \     <required_course>Betreuung von Kindern 2</required_course>\n      <required_course>Kommunikation
        &amp; Betreuung</required_course>\n    </required_courses>\n    <free_service_periods>\n
        \   </free_service_periods>\n    <canton>SG</canton>\n    <category>education</category>\n
        \   <organization_name>Schule Thal</organization_name>\n    <sub_category/>\n
        \   <minimum_service_months>3</minimum_service_months>\n    <focus_program>true</focus_program>\n
        \   <language>de-CH</language>\n    <contact>\n      <gender>Herr</gender>\n
        \     <job>Schulleiter Altenrhein und Staad</job>\n      <first_name>Marco</first_name>\n
        \     <last_name>Hollenstein</last_name>\n      <phone>+41 71 886 10 89</phone>\n
        \     <email>marco.hollenstein@schulethal.ch</email>\n    </contact>\n    <address>\n
        \     <primary_line>Schule Thal</primary_line>\n      <secondary_line>Herr
        Marco Hollenstein</secondary_line>\n      <street>Kirchplatz 4</street>\n
        \     <supplement>Schulleiter Altenrhein und Staad</supplement>\n      <city>Thal</city>\n
        \     <zip>9425</zip>\n      <lat>9.56875517596468</lat>\n      <lng>47.4650375</lng>\n
        \   </address>\n  </job_posting>\n  <job_posting>\n    <publication_date>Thu,
        16 Sep 2021 02:51:57 +0200</publication_date>\n    <title>Mithilfe auf dem
        Hof und pädagogische Arbeiten</title>\n    <identification_number>79739</identification_number>\n
        \   <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;40% Pädagogische
        Arbeiten&lt;/strong&gt;&lt;br&gt;Mithilfe bei Führungen und Arbeitseinsätzen
        von Schulklassen.&lt;/li&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;20% Handwerkliche
        Tätigkeit&lt;/strong&gt;&lt;br&gt;Reparaturen und Umbaumassnahmen im Haus
        und auf dem Hof.&lt;/li&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;40% Landschafts
        und Gartenarbeit&lt;/strong&gt;&lt;br&gt;Mithilfe bei der Versorgung der Tiere,
        in der Gärtnerei und in der Landschaftspflege.&lt;/li&gt;\n\t\t\t&lt;/ul&gt;</description>\n
        \   <required_skills>&lt;p&gt;\n\t\t\t\tHohe Sozialkompetenz, handwerkliche
        Fähigkeiten.\n\t\t\t&lt;/p&gt;\n</required_skills>\n    <preferred_skills>&lt;p&gt;\n\t\t\t\t\tFahrausweis
        (Kat. B mit Anhänger).\n\t\t\t\t&lt;/p&gt;</preferred_skills>\n    <required_courses>\n
        \     <required_course>Kommunikation &amp; Betreuung</required_course>\n    </required_courses>\n
        \   <free_service_periods>\n      <free_service_period beginning=\"16.09.2021\"
        ending=\"17.09.2023\"/>\n    </free_service_periods>\n    <canton>BE</canton>\n
        \   <category>social_welfare</category>\n    <organization_name>Bauernhof
        Falbringen - Stiftung für Landwirtschaft und Pädagogik</organization_name>\n
        \   <sub_category/>\n    <minimum_service_months>1</minimum_service_months>\n
        \   <focus_program>true</focus_program>\n    <language>de-CH</language>\n
        \   <contact>\n      <gender>Herr</gender>\n[...]
