<div style="font-family: 'Helvetica Neue',sans-serif">
  <h3>Lieber <%= @user.full_name %></h3>
  <p>
    Wir danken dir herzlich für deinen Einsatz bei der Stiftung Wirtschaft und Ökologie SWO.
    Um besser abschätzen zu können, wie dein Einsatz bei der SWO war, bitten wir dich, unsere Evaluation auszufüllen.
  </p>
  <p>
    Du findest die Evaluation unter folgendem Link: <a href="<%= @feedback_url %>">Zur Evaluation</a>
  </p>
  <p>
    Herzlichen Dank für dein Feedback.
  </p>
  <p>
    Liebe Grüsse aus Schwerzenbach
  </p>
  <br />
  <hr />
  <p>
    Dein SWO-Team<br>
    Bahnstrasse 18b<br>
    8603 Schwerzenbach<br><br>

    Telefon: +41 (0)43 355 58 44<br>
    E-Mail: office@stiftungswo.ch<br>
    https://www.stiftungswo.ch
  </p>
</div>
