<div style="font-family: 'Helvetica Neue',sans-serif">
  <h3>Dear <%= @user.full_name %></h3>
  <p>
    Thank you very much for your commitment to the SWO Foundation.
    In order to be able to better assess how your service at SWO was, we ask you to complete our evaluation.
  </p>
  <p>
    You can find it under the following link: <a href="<%= @feedback_url %>">To the survey</a>
  </p>
  <p>
    Thank you very much for your feedback.
  </p>
  <p>
    Greetings from Schwerzenbach
  </p>
  <br />
  <hr />
  <p>
    Your SWO-Team<br>
    Bahnstrasse 18b<br>
    8603 Schwerzenbach<br><br>

    Phone: +41 (0)43 355 58 44<br>
    E-Mail: office@stiftungswo.ch<br>
    https://www.stiftungswo.ch
  </p>
</div>
