<div style="font-family: 'Helvetica Neue',sans-serif">
  <h3>Cher <%= @user.full_name %></h3>
  <p>
    Merci beaucoup pour votre engagement envers la Fondation SWO.
    Afin de mieux évaluer votre engagement envers le SWO, nous vous demandons de compléter notre évaluation.
  </p>
  <p>
    Vous trouverez l'évaluation sous le lien suivant: <a href="<%= @feedback_url %>">Vers l'enquête</a>
  </p>
  <p>
    Merci beaucoup pour vos commentaires.
  </p>
  <p>
    Meilleures salutations de Schwerzenbach
  </p>
  <br />
  <hr />
  <p>
    Votre équipe SWO<br>
    Bahnstrasse 18b<br>
    8603 Schwerzenbach<br><br>

    Téléphone: +41 (0)43 355 58 44<br>
    E-Mail: office@stiftungswo.ch<br>
    https://www.stiftungswo.ch
  </p>
</div>
