DATABASE_HOST=db
DATABASE_NAME=my_zivi_development

# SENTRY_DSN=the-sentry-dsn
# SENTRY_ENVIRONMENT=local
# CSP_REPORT_URI=report-uri

DEVISE_SECRET_KEY="bundle exec rake secret"
DEVISE_PEPPER="bundle exec rake secret"

APP_HOST=localhost
APP_PORT=3000

MAIL_SENDER=no-reply@myzivi.ch
SMTP_USER_NAME=username
SMTP_PASSWORD=password
SMTP_DOMAIN=my-zivi-domain.com
SMTP_ADDRESS=my.service.com
SMTP_PORT=587
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true

GITHUB_REGISTRY_URL=https://npm.pkg.github.com/
GITHUB_NPM_TOKEN=my-token

PERCY_TOKEN=my-percy-token

SIDEKIQ_USERNAME=username
SIDEKIQ_PASSWORD=password

RAILS_ADMIN_THEME=myzivi_theme
DEMO_URL=https://calendly.com/myzivi-joshua/onlinedemo
JOB_POSTINGS_API_URL=http://localhost:4000

# GCS_PROJECT_NAME=my-zivi
# GCS_BUCKET_NAME=my-bucket-name

ALGOLIA_APPLICATION_ID=APPID
ALGOLIA_API_KEY=my-key
ALGOLIA_FRONTEND_API_KEY=my-key

SITEMAP_ENABLED=true
SITEMAP_PUBLIC_URL=https://storage.example.com/sitemap.xml.gz
ROBOTS_ALLOWED=true

WEBPACKER_DEV_SERVER_HOST=webpacker
REDIS_URL=redis://redis:6379
