.rounded-small {
  @extend .rounded;
  border-radius: 8px !important;
}

.rounded-medium {
  @extend .rounded;
  border-radius: 16px !important;
}

.rounded-large {
  @extend .rounded;
  border-radius: 24px !important;
}
