// Neutrals
$charcoal: #212429;
$onyx: #424952;
$slate: #778599;
$light-slate: #E2E5E9;
$white: #FFF;
$snow: #F9FAFB;

// Primary
$wine: #7B1E52;
$old-wine: #210816;
$lollipop: #FEFBFD;

// Secondary
$blue-sky: #009FF3;
$deep-ocean: #052A52;
$cotton: #FAFDFF;

$main-gradient: linear-gradient(-114.82deg, $blue-sky 0%, $wine 100%);
$background-gradient: linear-gradient(180deg, $white 0%, $cotton 55.15%);
