$gray: #808080;
$light-gray: #afafaf;
$white: #fff;
$light-green: #90ee90;
$light-salmon: #ffbd9e;
$dark-salmon: #ff5f14;
$deep-ocean: #001d29;
$font-family-sans-serif: ubuntu, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', sans-serif;

$purple: #7b1e52;
$blue: #009fe3;
$my-zivi-gradient: linear-gradient(294.82deg, $purple 0%, $blue 100%);
