$gray: #808080;
$light-gray: #afafaf;
$white: #fff;
$light-green: #90ee90;
$light-salmon: #ffbd9e;
$dark-salmon: #ff5f14;
$deep-ocean: #001d29;
$font-family-sans-serif: ubuntu, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', sans-serif;

$purple: #7b1e52;
$blue: #009fe3;
$my-zivi-gradient: linear-gradient(294.82deg, $purple 0%, $blue 100%);
$type-scale: 1.3;
$transition-collapse: height .35s ease;
$transition-collapse-icon: transform .35s ease;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@my-zivi/falcon/scss/theme/functions';
@import '@my-zivi/falcon/scss/theme/variables';
