@import 'variables';
@import '@my-zivi/falcon/scss/theme/functions';
@import '@my-zivi/falcon/scss/theme/variables';
@import 'bootstrap/scss/bootstrap';
@import '@my-zivi/falcon/scss/theme/reboot';
@import '@my-zivi/falcon/scss/theme/avatar';
@import '@my-zivi/falcon/scss/theme/calendar';
@import '@my-zivi/falcon/scss/theme/navbar';
@import '@my-zivi/falcon/scss/theme/search-box';
@import '@my-zivi/falcon/scss/theme/navbar-vertical';
@import '@my-zivi/falcon/scss/theme/navbar-top';
@import '@my-zivi/falcon/scss/theme/badge';
@import '@my-zivi/falcon/scss/theme/card';
@import '@my-zivi/falcon/scss/theme/notification';
@import '@my-zivi/falcon/scss/theme/buttons';
@import '@my-zivi/falcon/scss/theme/dropdown';
@import '@my-zivi/falcon/scss/theme/forms';
@import '@my-zivi/falcon/scss/theme/hoverbox';
@import '@my-zivi/falcon/scss/theme/mixed';
@import '@my-zivi/falcon/scss/theme/icon';
@import '@my-zivi/falcon/scss/theme/tabs';
@import '@my-zivi/falcon/scss/theme/table';
@import '@my-zivi/falcon/scss/theme/type';
@import '@my-zivi/falcon/scss/theme/pointer';
@import '@my-zivi/falcon/scss/theme/utilities';
@import '@my-zivi/falcon/scss/theme/landing';
@import '@my-zivi/falcon/scss/theme/radio-select';
@import '@my-zivi/falcon/scss/theme/accordion';
@import '@my-zivi/falcon/scss/theme/browser-support';
@import '@my-zivi/falcon/scss/theme/dashboard-alt';
@import '@my-zivi/falcon/scss/theme/scrollbar';
@import '@my-zivi/falcon/scss/theme/spinner';
@import '@my-zivi/falcon/scss/theme/wizard';
@import '@my-zivi/falcon/scss/theme/modal';
@import '@my-zivi/falcon/scss/theme/animations';
@import '@my-zivi/falcon/scss/theme/notice';
@import '@my-zivi/falcon/scss/theme/plugins/data-table';
@import '@my-zivi/falcon/scss/theme/plugins/select2';
@import 'flatpickr/dist/flatpickr.min';

.corner-background-warning {
  background-image: url('@my-zivi/falcon/pages/assets/img/illustrations/corner-1.png');
}

.corner-background-info {
  background-image: url('@my-zivi/falcon/pages/assets/img/illustrations/corner-2.png');
}

.corner-background-success {
  background-image: url('@my-zivi/falcon/pages/assets/img/illustrations/corner-3.png');
}

.corner-background-title {
  background-image: url('@my-zivi/falcon/pages/assets/img/illustrations/corner-4.png');
}


.animatable-card {
  transition: .25s box-shadow;

  &:hover {
    box-shadow: 0 14px 28px 0 rgba(65, 69, 88, .15), 0 3px 6px 0 rgba(0, 0, 0, .09);
  }
}

.inactive-calendar {
  color: $gray-600;

  .calendar {
    .calendar-month {
      background-color: $gray-500 !important;
    }
    .calendar-day {
      border-color: $gray-500 !important;
    }
  }
}

