<footer class="bg-dark pt-8 pb-4">
  <div class="container">
    <div class="position-absolute btn-back-to-top bg-dark">
      <a class="text-600" href="#banner" data-fancyscroll="data-fancyscroll"><span class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a>
    </div>
  </div>
  <div class="pt-3 bg-dark">
    <div class="container py-3">
      <div class="row justify-content-between fs--1">
        <div class="col-12 col-sm-auto text-center">
          <p class="mb-0 text-600 opacity-85">&copy; 2020 MyZivi
        </div>
      </div>
    </div>
  </div>
</footer>
