<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
  <div class="container">
    <a class="navbar-brand" href="../index.html"><span class="text-white">MyZivi</span></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarStandard">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button">Home</a>
        </li>
        <li class="nav-item dropdown dropdown-on-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownPages">
            <div class="card navbar-card-pages shadow-none">
              <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                <div class="row">
                  <div class="col-6 col-md-auto">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/activity.html">Activity</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/associations.html">Associations</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/billing.html">Billing</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/customer-details.html">Customer details</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/event-detail.html">Event detail</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/event-create.html">Event create</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/events.html">Events</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/faq.html">Faq</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/invoice.html">Invoice</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/invite-people.html">Invite people</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/notifications.html">Notifications</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/people.html">People</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/pricing.html">Pricing</a>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/pricing-alt.html">Pricing alt</a>
                    </div>
                  </div>
                  <div class="col-6 col-md-auto">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../pages/profile.html">Profile</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/settings.html">Settings</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/starter.html">Starter</a><a class="nav-link py-1 text-700 font-weight-medium" href="../chat.html">Chat</a><a class="nav-link py-1 text-700 font-weight-medium" href="../kanban.html">Kanban</a><a class="nav-link py-1 text-700 font-weight-medium" href="../widgets.html">Widgets</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/errors/404.html">404</a><a class="nav-link py-1 text-700 font-weight-medium" href="../pages/errors/500.html">500</a>
                      <div class="nav-link py-1 text-900 font-weight-bold mt-3">Emails</div>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../email/inbox.html">Inbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../email/email-detail.html">Email
                      detail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../email/compose.html">Compose</a>
                    </div>
                  </div>
                  <div class="col-6 col-md-auto">
                    <div class="nav flex-column">
                      <div class="nav-link py-1 text-900 font-weight-bold">E-commerce</div>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-list.html">Product
                        list</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-grid.html">Product
                      grid</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/product-details.html">Product
                      details</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/orders.html">Orders</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/order-details.html">Order
                      details</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/customers.html">Customers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/shopping-cart.html">Shopping
                      cart</a><a class="nav-link py-1 text-700 font-weight-medium" href="../e-commerce/checkout.html">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-on-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownDocumentation" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownDocumentation">
            <div class="bg-white rounded-soft py-2">
              <a class="dropdown-item" href="../documentation/getting-started.html">Getting
                started</a><a class="dropdown-item" href="../documentation/file-structure.html">File
              structure</a><a class="dropdown-item" href="../documentation/customization.html">Customization</a><a class="dropdown-item" href="../documentation/dark-mode.html">Dark
              mode</a><a class="dropdown-item" href="../documentation/fluid-layout.html">Fluid
              layout</a><a class="dropdown-item" href="../documentation/gulp.html">Gulp</a><a class="dropdown-item" href="../documentation/RTL.html">RTL</a><a class="dropdown-item" href="../documentation/plugins.html">Plugins</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-on-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownComponents" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownComponents">
            <div class="card shadow-none navbar-card-components">
              <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                <div class="row">
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../components/accordion.html">Accordion</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/alerts.html">Alerts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/avatar.html">Avatar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/background.html">Background</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/badges.html">Badges</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/breadcrumb.html">Breadcrumb</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/bulk-select.html">Bulk
                      select</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/buttons.html">Buttons</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/cards.html">Cards</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../components/carousel.html">Carousel</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/collapse.html">Collapse</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/countup.html">Countup</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/dropdowns.html">Dropdowns</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/fancyscroll.html">Fancyscroll</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/fancytab.html">Fancytab</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/forms.html">Forms</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/hoverbox.html">Hoverbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/list-group.html">List
                      group</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../components/modals.html">Modals</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/media-object.html">Media
                      object</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navs.html">Navs</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/default.html">Navbar
                      default</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/vertical.html">Navbar
                      vertical<span class="badge badge-pill ml-2 fs--2 badge-soft-success">Updated</span></a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/navbar/top.html">Navbar
                      top</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/cookie-notice.html">Cookie
                      notice</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/page-headers.html">Page
                      headers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/pagination.html">Pagination</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../components/popovers.html">Popovers</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/progress.html">Progress</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/scrollspy.html">Scrollspy</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/sidepanel.html">Sidepanel</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/spinners.html">Spinners</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tables.html">Tables</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tabs.html">Tabs</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/toasts.html">Toasts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../components/tooltips.html">Tooltips</a>
                    </div>
                  </div>
                </div>
                <div class="nav-link py-1 text-900 font-weight-bold mt-3">Plugins</div>
                <div class="row">
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/bootstrap-wizard.html">Bootstrap
                        wizard</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/charts/chart-js.html">Chart
                      js</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/charts/echarts.html">Echarts</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/countdown.html">Countdown</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/data-table.html">Data
                      table</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/date-picker.html">Date
                      picker</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/draggable.html">Draggable</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/dropzone.html">Dropzone</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/emojionearea.html">Emojionearea</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/fancybox.html">Fancybox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/fontawesome.html">Fontawesome</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/inline-player.html">Inline
                      player</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/lightbox.html">Lightbox</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/lottie.html">Lottie</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/map/google-map.html">Google
                      map</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/map/leaflet-map.html">Leaflet
                      map</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/toastr.html">Toastr</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/owl-carousel.html">Owl
                      carousel</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/perfect-scrollbar.html">Perfect
                        scrollbar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/progressbar.html">Progressbar</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/raty.html">Raty</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/select2.html">Select2</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/tinymce.html">Tinymce</a><a class="nav-link py-1 text-700 font-weight-medium" href="../plugins/typed-text.html">Typed
                      text</a>
                    </div>
                  </div>
                </div>
                <div class="nav-link py-1 text-900 font-weight-bold mt-3">Utilities</div>
                <div class="row">
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/borders.html">Borders</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/clearfix.html">Clearfix</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/close-icon.html">Close
                      icon</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/colors.html">Colors</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/display.html">Display</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/embed.html">Embed</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/figures.html">Figures</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/flex.html">Flex</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/grid.html">Grid</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/sizing.html">Sizing</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/spacing.html">Spacing</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/stretched-link.html">Stretched
                      link</a>
                    </div>
                  </div>
                  <div class="col-6 col-xl-3">
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/typography.html">Typography</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/vertical-align.html">Vertical
                      align</a><a class="nav-link py-1 text-700 font-weight-medium" href="../utilities/visibility.html">Visibility</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-on-hover">
          <a class="nav-link dropdown-toggle" id="navbarDropdownAuthentication" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authentication</a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownAuthentication">
            <div class="card shadow-none navbar-card-auth">
              <div class="card-body scrollbar perfect-scrollbar max-h-dropdown">
                <img class="position-absolute b-0 r-0" src="<%= asset_pack_path 'media/illustrations/authentication-corner.png' %>" width="130" alt="" />
                <div class="row">
                  <div class="col-6 col-xxl-3">
                    <div class="nav-link py-1 text-900 font-weight-bold">Basic</div>
                    <div class="nav flex-column">
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/forgot-password.html">Forgot
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/reset-password.html">Reset
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/confirm-mail.html">Confirm
                      mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/basic/lock-screen.html">Lock
                      screen</a>
                    </div>
                  </div>
                  <div class="col-6 col-xxl-3">
                    <div class="nav flex-column">
                      <div class="nav-link py-1 text-900 font-weight-bold">Split</div>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/forgot-password.html">Forgot
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/reset-password.html">Reset
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/confirm-mail.html">Confirm
                      mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/split/lock-screen.html">Lock
                      screen</a>
                    </div>
                  </div>
                  <div class="col-6 col-xxl-3">
                    <div class="nav flex-column">
                      <div class="nav-link py-1 text-900 font-weight-bold mt-3 mt-xxl-0">Card</div>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/login.html">Login</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/logout.html">Logout</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/register.html">Register</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/forgot-password.html">Forgot
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/reset-password.html">Reset
                      password</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/confirm-mail.html">Confirm
                      mail</a><a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/card/lock-screen.html">Lock
                      screen</a>
                    </div>
                  </div>
                  <div class="col-6 col-xxl-3">
                    <div class="nav flex-column">
                      <div class="nav-link py-1 text-900 font-weight-bold mt-3 mt-xxl-0">Special</div>
                      <a class="nav-link py-1 text-700 font-weight-medium" href="../authentication/wizard.html">Wizard</a><a class="nav-link py-1" href="#!" data-toggle="modal" data-target="#authentication-modal">In
                      Modal</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html"><span class="fas fa-chart-pie d-none d-lg-inline-block" data-toggle="tooltip" data-placement="bottom" title="Dashboard"></span><span class="d-lg-none">Dashboard</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../home/feed.html"><span class="fas fa-list-alt d-none d-lg-inline-block" data-toggle="tooltip" data-placement="bottom" title="Feed"></span><span class="d-lg-none">Feed</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownLogin" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownLogin">
            <div class="card shadow-none navbar-card-login">
              <div class="card-body fs--1 p-4 font-weight-normal">
                <div class="row text-left justify-content-between align-items-center mb-2">
                  <div class="col-auto">
                    <h5 class="mb-0">Log in</h5>
                  </div>
                  <div class="col-auto">
                    <p class="fs--1 text-600 mb-0">or
                      <a href="../authentication/basic/register.html">Create an account</a></p>
                  </div>
                </div>
                <form>
                  <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email address" />
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" />
                  </div>
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="modal-checkbox" />
                        <label class="custom-control-label" for="modal-checkbox">Remember me</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <a class="fs--1" href="../authentication/basic/forgot-password.html">Forgot Password?</a></div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Log in</button>
                  </div>
                </form>
                <div class="w-100 position-relative mt-4">
                  <hr class="text-300" />
                  <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or
                    log in with
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class="row no-gutters">
                    <div class="col-sm-6 pr-sm-1">
                      <a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span>
                        google</a></div>
                    <div class="col-sm-6 pl-sm-1">
                      <a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span>
                        facebook</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!" data-toggle="modal" data-target="#exampleModal">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
