<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
  <div class="container">
    <a class="navbar-brand" href="/"><span class="text-white">MyZivi</span></a>
  </div>
</nav>
