<% content_for(:container_class, 'index-container') %>
<%= render 'home/navbar' %>

<div class="hero">
  <div class="container">
    <div class="hero-content text-center w-100">
      <h1>Allgemeine Geschäftsbedingungen</h1>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="static-pages content-text">
      <p><strong>Allgemeine Geschäftsbedingungen (AGB) von MyZivi</strong></p>
      <p>Die Internet-Plattform myzivi.ch ist ein Produkt der:</p>
      <p>MyZivi Kollektivgesellschaft&nbsp;<br>Technoparkstrasse 2<br>8406 Winterthur</p>
      <p>Kontakt:</p>
      <p>E-Mail: info@myzivi.ch&nbsp;<br>Webseite: www.myzivi.ch<br>Telefon: 076 528 25 92</p>
      <p>Stand: 01.02.2021</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h2><strong>1 Geltungsbereich</strong></h2>
      <ol>
        <li>Diese Allgemeinen Geschäftsbedingungen (nachfolgend <strong>AGB</strong>) der MyZivi Kollektivgesellschaft,
          Technoparkstrasse 2, 8406 Winterthur (nachfolgend <strong>MyZivi</strong>) regeln die Nutzung der Webseite
          www.myzivi.ch inklusive aller Subdomains (nachfolgend <strong>Webseite</strong>), welche von MyZivi betrieben
          wird. Zudem regeln diese AGB die vertraglichen Verhältnisse zwischen den Einsatzbetrieben (nachfolgend
          <strong>Betriebe</strong>) oder den Zivildienstleistenden (nachfolgend <strong>Zivis</strong>) auf der einen
          Seite und <strong>MyZivi</strong> auf der anderen Seite. Die Betriebe und die Zivis werden nachfolgend je
          einzeln oder gemeinsam auch <strong>Benutzer</strong> genannt.
        </li>
      </ol>
      <h2><strong>2 Vertragsverhältnis zwischen Betrieben und Zivis</strong></h2>
      <h2><strong>2.1 MyZivi nicht Vertragspartei</strong></h2>
      <ol>
        <li aria-level="1">Mittels Nutzung der Webseite können die Betriebe und die Zivis autonom und
          eigenverantwortlich Einsatzvereinbarungen abschliessen. Dieses Vertragsverhältnis, welches durch die Nutzung
          der Webseite entsteht, besteht ausschliesslich zwischen den Betrieben und den Zivis.
        </li>
        <li aria-level="1">Die Benutzer können über die Webseite eine entsprechende Einsatzvereinbarung untereinander
          abschliessen, welche auf den von den Benutzern eigegebenen Daten basiert. Im Übrigen richtet sich diese
          Einsatzvereinbarung nach dem Bundesgesetz über den zivilen Ersatzdienst (nachfolgend <strong>ZDG</strong>).
          MyZivi übernimmt weder Gewährleistung noch Haftung für jegliche Art von Schäden, welche den Benutzern durch
          Abschluss und Durchführung der Einsatzvereinbarungen allfällig entstehen.
        </li>
        <li aria-level="1">MyZivi sowie deren Vertreter, Mitarbeiter und Hilfspersonen werden in keiner Art und Weise
          und zu keinem Zeitpunkt Einsatzbetrieb, Arbeitgeber, Auftraggeber oder Besteller des Zivis. Der Abschluss und
          die Erfüllung der Einsatzvereinbarung erfolgen ausschliesslich zwischen dem Betrieb und dem Zivi und liegen
          ausschliesslich in deren Verantwortung. MyZivi übernimmt keine Gewähr oder Haftung dafür, dass die Betriebe
          und die Zivis ihren untereinander bestehenden Vertragspflichten nachkommen.
        </li>
        <li aria-level="1">Der Betrieb und der Zivi erklären mit der Übernahme dieser AGB, keine entsprechenden
          Ansprüche gegenüber MyZivi sowie deren Vertreter, Mitarbeiter und Hilfspersonen geltend zu machen.
        </li>
      </ol>
      <h2><strong>2.2 Einsatzspezifische Ausbildungskurse, Bewilligungen und Einhaltung gesetzlicher Vorgaben</strong>
      </h2>
      <ol>
        <li aria-level="1">Der Zivi ist selbst dafür verantwortlich, über die benötigten Dokumente, Bewilligungen (z.B.
          Führerschein, falls verlangt) oder einsatzspezifischen Ausbildungskurse zu verfügen, um den entsprechenden
          Zivildienst antreten zu können. Der Zivi muss insbesondere im Besitz einer gültigen ZDP-Nummer und einer
          AHV-Versichertennummer sein.
        </li>
        <li aria-level="1">Der Betrieb ist selbst dafür verantwortlich, die Eignung und die Zivildienst-Zulässigkeit der
          Zivis zu überprüfen.
        </li>
        <li aria-level="1">Der Betrieb ist selbst dafür verantwortlich, alle allfällig anwendbaren privat- und
          öffentlich-rechtlichen sowie alle übrigen einschlägigen rechtlichen Normen einzuhalten und über die für seinen
          Betrieb notwendigen Bewilligungen (insbesondere auch die Anerkennung als Einsatzbetrieb) zu verfügen.
        </li>
        <li aria-level="1">MyZivi schliesst jegliche Haftung aus, welche durch eine falsche Angabe durch den Zivi oder
          den Betrieb entsteht.
        </li>
      </ol>
      <h2><strong>3 Nutzungsverträge von MyZivi mit Betrieben und Zivis</strong></h2>
      <ol>
        <li aria-level="1">Zwischen den Betrieben und MyZivi sowie zwischen den Zivis und MyZivi entstehen je einzelne
          Nutzungsverträge über die Dienstleistungsgewährung durch MyZivi nach den Bestimmungen dieser Ziffer 3
          (nachfolgend <strong>Nutzungsvertrag</strong> resp. <strong>Nutzungsverträge</strong>).
        </li>
      </ol>
      <h2><strong>3.1 Leistungen von MyZivi</strong></h2>
      <ol>
        <li aria-level="1">Mittels der Nutzungsverträge erbringt MyZivi die folgenden Dienstleistungen gegenüber dem
          Betrieb oder dem Zivi:
        </li>
      </ol>
      <h2><strong>3.1.1 Bereitstellung von Webseite</strong></h2>
      <ol>
        <li aria-level="1">MyZivi ist Betreiberin der Webseite und stellt diese gemäss den AGB den Benutzern zur Nutzung
          zur Verfügung.
        </li>
      </ol>
      <h2><strong>3.1.2 Zusammenführen von Betrieben und Zivis</strong></h2>
      <ol>
        <li aria-level="1">Die Webseite ist eine digitale Plattform, die Betriebe und Zivis zusammenführt
          (<strong><em>MyZivi-Recruiting</em></strong>). Betriebe können auf der Webseite Zivildiensteinsätze anbieten.
          Zivis können sich auf die auf der Webseite aufgeführten Einsätze bei den Betrieben bewerben. MyZivi agiert
          dabei als Vermittlerin von Zivildiensteinsätzen.
        </li>
        <li aria-level="1">Die Benutzer können basierend auf der Webseite eine Einsatzvereinbarung abschliessen.</li>
        <li aria-level="1">Die Benutzer können mittels der Webseite und per E-Mail zudem automatisierte und
          individualisierte Empfehlungen von geeigneten Betrieben resp. Zivis erhalten.
        </li>
        <li aria-level="1">Die Betriebe anerkennen und willigen ein, dass die Zivis sie auf der Webseite bewerten können
          und dass die Betriebe keinerlei Einfluss auf die Veröffentlichung (auf der Plattform) und Erstellung der
          entsprechenden Bewertungen nehmen können.
        </li>
      </ol>
      <h2><strong>3.1.3 Administrative Erleichterungen</strong></h2>
      <ol>
        <li aria-level="1">Die Webseite beinhaltet ein Tool (<strong><em>MyZivi-Admin</em></strong>), welches diverse
          administrative Erleichterungen der Betriebe betreffend die Zivildiensteinsätze mit sich bringt. Mit
          MyZivi-Admin können Betriebe Zivis erfassen, Spesenbeträge definieren, Spesenblätter erstellen,
          Zahlungsdateien herunterladen, Einsatzvereinbarungen erstellen und Einsatzplanungen anhand einer Übersicht
          vornehmen.&nbsp;
        </li>
      </ol>
      <h2><strong>3.2 Berechtigte Personen</strong></h2>
      <ol>
        <li aria-level="1">Zur Registrierung resp. zur Erstellung eines Benutzerkontos (und damit zur Nutzung der
          Webseite und der Dienstleistungen von MyZivi) berechtigt sind nur unbeschränkt handlungsfähige natürliche oder
          juristische Personen. Von einer Registrierung ausgeschlossen sind minderjährige Personen (Personen unter 18
          Jahren).
        </li>
        <li aria-level="1">Zur Registrierung berechtigt sind ferner nur Zivis (i.S.v. Art. 1 und Art. 16 ff. ZDG) und
          Betriebe mit Sitz in der Schweiz, welche als Einsatzbetrieb für Zivis von der zuständigen Vollzugsstelle
          anerkannt worden sind (Art. 42 ZDG).
        </li>
      </ol>
      <h2><strong>3.3 Pflichten betreffend das Benutzerkonto</strong></h2>
      <h2><strong>3.3.1 Registrierung</strong></h2>
      <ol>
        <li aria-level="1">Um die Dienstleistungen von MyZivi gemäss Ziffer 3.1 zu nutzen, muss sich der Benutzer auf
          der Webseite registrieren und ein Benutzerkonto einrichten.
        </li>
        <li aria-level="1">Mit der Registrierung akzeptiert der Benutzer diese AGB und es entsteht ein Nutzungsvertrag
          zwischen dem Benutzer und MyZivi nach den Bestimmungen dieser AGB.
        </li>
        <li aria-level="1">Das Eröffnen mehrerer Benutzerkonten für dieselbe natürliche oder juristische Person ist
          unzulässig.
        </li>
        <li aria-level="1">Das Benutzerkonto ist persönlich und nicht übertragbar.</li>
      </ol>
      <h2><strong>3.3.2 Korrekte und rechtmässige Eingaben</strong></h2>
      <ol>
        <li aria-level="1">Der Benutzer bestätigt, dass die bei der Anmeldung resp. Registrierung abgefragten Daten
          vollständig, korrekt und wahrheitsgemäss sind. Der Benutzer ist verpflichtet, die Daten auf seinem
          Benutzerkonto regelmässig zu überprüfen und falls notwendig umgehend zu aktualisieren, zu korrigieren oder zu
          ergänzen.
        </li>
        <li aria-level="1">Auf Verlangen von MyZivi ist die Richtigkeit der vom Benutzer hinterlegten Daten
          nachzuweisen. MyZivi behält sich das Recht vor, Stichproben betreffend Richtigkeit dieser Daten zu machen.
        </li>
        <li aria-level="1">Die bei der Registrierung und zur Erstellung des Benutzerkontos einzugebenden Angaben dürfen
          keine Immaterialgüterrechte von Dritten verletzten. Der Benutzer darf auf der Webseite einzig Bilder und Texte
          verwenden und publizieren, welche er selber erstellt hat oder zu deren Verwendung er berechtigt ist. Zudem
          dürfen solche Angaben keinerlei Persönlichkeitsrechte Dritter verletzten; insbesondere dürfen sie nicht
          beleidigend, obszön, diffamierend, belästigend, ehrverletzend, verunglimpfend, herabsetzend oder rufschädigend
          sein.
        </li>
        <li aria-level="1">Der für andere Benutzer ersichtliche Benutzername des Benutzers muss auf dem korrekten
          Vornamen und Nachnamen resp. der korrekten Firma des Betriebs basieren. MyZivi hat das Recht, das
          Benutzerkonto zu löschen resp. zu sperren, sollte der verwendete Benutzernamen gegen diese AGB verstossen.
        </li>
      </ol>
      <h2><strong>3.3.3 Kontrolle der Aktivitäten</strong></h2>
      <ol>
        <li aria-level="1">MyZivi ist nicht verpflichtet, das Verhalten der Benutzer im Zusammenhang mit der Nutzung der
          Webseite resp. des Benutzerkontos zu kontrollieren. MyZivi ist jedoch berechtigt, aber nicht verpflichtet, die
          auf der Webseite von den Benutzern veröffentlichten Angaben, Texte und Darstellungen auf ihre Rechtsmässigkeit
          oder sonstige Zulässigkeit auf geeignete Weise zu überprüfen.
        </li>
      </ol>
      <h2><strong>3.3.4 Schutz vor Missbrauch</strong></h2>
      <ol>
        <li aria-level="1">Der Benutzer ist verpflichtet, sein Benutzerkonto vor Missbrauch durch Dritte zu schützen und
          seine Zugangsdaten und allfällige Aktivierungscodes stets sicher aufzubewahren. Bei Anzeichen eines unbefugten
          Zugriffes oder eines Missbrauches durch Dritte ist MyZivi ohne Verzug zu informieren.
        </li>
        <li aria-level="1">Allfällige Schäden resultierend aus dem Verlust/Bekanntwerden Dritter, des Benutzernamens
          und/oder des Passwortes hat der Benutzer alleine zu tragen. Jegliche Haftung seitens MyZivi ist
          ausgeschlossen.
        </li>
      </ol>
      <h2><strong>3.4 Zugang zur Webseite und zum Benutzerkonto</strong></h2>
      <ol>
        <li aria-level="1">Es besteht kein Anspruch der Benutzer auf Registrierung, Mitgliedschaft oder Nutzung der
          Webseite oder Inanspruchnahme von Dienstleistungen von MyZivi.
        </li>
        <li aria-level="1">MyZivi steht es insbesondere jederzeit frei, nach eigenem freien Ermessen, sei es wegen
          Verletzung dieser AGB, wegen der Verletzung der zwischen Betrieben und Zivis bestehenden Vertragspflichten
          oder aus einem beliebigen anderen Grund, einen Benutzer nach der Registrierung abzulehnen und/oder dem
          Benutzer den Zugriff auf die Webseite resp. sein Benutzerkonto zu sperren resp. diesen auszuschliessen.
        </li>
        <li aria-level="1">MyZivi haftet in keiner Art und Weise für dadurch entstandenen Schaden des Benutzers (wie
          namentlich entgangener Gewinn, entgangene Entschädigung, Kosten für Ersatzmassnahmen oder Verantwortlichkeit
          aus vertraglicher Haftung).
        </li>
      </ol>
      <h2><strong>3.5 Gebühren</strong></h2>
      <ol>
        <li aria-level="1">Der Zugang zur und die Nutzung der Webseite ist für die Zivis kostenlos.</li>
        <li aria-level="1">Für das Erbringen der Dienstleistungen gemäss den Ziffern 3.1.2 und 3.1.3 bezahlt der Betrieb
          MyZivi eine Gebühr gemäss <a href="https://www.myzivi.ch/employer-products/">Gebührenkatalog</a>. Der
          Gebührenkatalog&nbsp; stellt einen integrierenden Bestandteil dieser AGB dar.
        </li>
      </ol>
      <h2><strong>3.6 Beginn und Beendigung des Nutzungsvertrages</strong></h2>
      <ol>
        <li aria-level="1">Der Nutzungsvertrag beginnt mit der Zusendung einer E-Mail-Bestätigung durch MyZivi nach
          erfolgter Registrierung und Zustimmung zu diesen AGB durch den Benutzer.
        </li>
        <li aria-level="1">Der Nutzungsvertrag ist sowohl für den Benutzer als auch für MyZivi jederzeit ohne Einhaltung
          einer Frist kündbar. Bei einer Kündigung während eines Kalendermonats durch einen Benutzer ist jedoch die
          volle monatliche Gebühr gemäss Ziffer 3.5 geschuldet und es findet keine <em>pro-rata</em>-Rückzahlung statt.
        </li>
        <li aria-level="1">Mit der Kündigung, Abmeldung oder Sperrung des Benutzerkontos resp. des Nutzungsvertrages
          können sämtliche Daten durch MyZivi gelöscht werden, soweit keine gesetzliche Pflicht von MyZivi zur
          Aufbewahrung solcher Daten besteht.
        </li>
      </ol>
      <h2><strong>3.7 Allgemeine Benutzerpflichten</strong></h2>
      <h2><strong>3.7.1 Nutzung von Inhalten</strong></h2>
      <ol>
        <li aria-level="1">Die Benutzer verpflichten sich, die Webseite sowie die dadurch erhaltenen Informationen und
          Daten ausschliesslich zum Zwecke der Suche nach geeigneten Zivis resp. Einsatzbetrieben und der Abwicklung von
          entsprechenden Einsatzvereinbarungen zu verwenden. Zu diesen Zwecken räumen sich die Benutzer hiermit
          gegenseitig ein Nutzungsrecht an ihren entsprechenden allfällig bestehenden Urheberrechten an den
          ausgetauschten Informationen und Daten (bspw. Fotos) ein.
        </li>
        <li aria-level="1">Insbesondere ist eine Verwendung zu Werbezwecken der genannten Inhalte durch die Benutzer
          untersagt. Es ist insbesondere nicht gestattet, die über die Webseite erhaltenen Informationen über die
          anderen Benutzer für den Versand von Newslettern zu verwenden oder an Dritte weiterzugeben.
        </li>
        <li aria-level="1">Die auf der Webseite enthaltenen oder beschriebenen von MyZivi zur Verfügung gestellten
          Inhalte wie Informationen, Bilder, Texte, Unterlagen oder Zeichen (wie z.B. Logos, Marken, Designs) stehen im
          alleinigen Eigentum von MyZivi. Es ist untersagt, jeglichen solchen Inhalt der Webseite oder Teile davon zu
          kopieren, zu verändern, zu verknüpfen, zu übermitteln oder weiter zu veröffentlichen.
        </li>
      </ol>
      <h2><strong>3.7.2 Technische Eingriffe</strong></h2>
      <ol>
        <li aria-level="1">Es ist den Benutzern untersagt, Mechanismen, Software oder sonstige Massnahmen zu ergreifen,
          welche den ordnungsgemässen Betrieb der Webseite stören und/oder eine übermässige Belastung der Webseite zur
          Folge haben könnten. Weiter ist es den Benutzern untersagt, Inhalte der Webseite zu blockieren, zu
          überschreiben, zu modifizieren oder auf andere Weise in die Struktur der Webseite einzugreifen.
        </li>
      </ol>
      <h2><strong>3.7.3 Keinen Vertragsschluss ausserhalb der Webseite fördern</strong></h2>
      <ol>
        <li aria-level="1">Texte und bildliche Darstellungen, welche ein Benutzer auf der Webseite in irgendeiner Art
          und Form veröffentlicht oder austauscht, dürfen nicht auf Vertragsabschlüsse ausserhalb des Marktplatzes
          abzielen oder dazu direkt oder indirekt auffordern.
        </li>
      </ol>
      <h2><strong>4 Haftungsausschlüsse</strong></h2>
      <ol>
        <li aria-level="1">Jegliche vertragliche und ausservertragliche Haftung von MyZivi gegenüber den Benutzern für
          unmittelbare und mittelbare Schäden − insbesondere infolge Nichtverfügbarkeit der Webseite, Ausfall einzelner
          oder sämtlicher Webseite-Funktionen, Fehlfunktionen der Webseite oder Verbreitung von Viren oder anderen
          schädlichen Komponenten durch die Webseite − inklusive entgangenem Gewinn wird im Rahmen des rechtlich
          Zulässigen ausgeschlossen. MyZivi haftet auch nicht, wenn die Vertragserfüllung infolge höherer Gewalt
          beschränkt oder unmöglich ist. Insbesondere wird auch die Haftung von MyZivi für Hilfspersonen vollständig
          ausgeschlossen (Art. 101 Abs. 2 OR).
        </li>
        <li aria-level="1">MyZivi ist nicht zur Prüfung der von den Zivis und Betrieben auf der Webseite
          veröffentlichten und ausgetauschten Informationen verpflichtet, ist nicht Partei des
          Zivildienstleistungsverhältnisses zwischen den Betrieben und der Zivis (siehe Ziffer 2.1) und übernimmt
          insbesondere keinerlei Verantwortung, Gewähr oder Haftung für:
        </li>
      </ol>
      <ol>
        <li aria-level="1">das ehrliche und treugemässe Verhalten der Benutzer beim Vertragsabschluss über die Webseite
          und bei der Vertragserfüllung;
        </li>
        <li aria-level="1">die weisungs-, vereinbarungs- und vorschriftsgemässe Vertragserfüllung der Zivis gegenüber
          den Betrieben;
        </li>
        <li aria-level="1">die wahrheitsgemässe, nicht-irreführende und korrekte Angabe zu den Qualifikationen,
          Verfügbarkeiten, Fähigkeiten und persönlichen Attributen der Zivis;
        </li>
        <li aria-level="1">die Qualität, Eignung, Sicherheit und Rechtsmässigkeit der Leistungen der Zivis;</li>
        <li aria-level="1">die Seriosität resp. Vertrauenswürdigkeit der Benutzer;</li>
        <li aria-level="1">die Bonität und Zahlungsbereitschaft der Betriebe;</li>
        <li aria-level="1">die rechtzeitige und vollständige Erbringung der geschuldeten Leistungen durch die Betriebe
          zugunsten der Zivis gemäss Art. 29 ZDG; und
        </li>
        <li aria-level="1">die Einhaltung der Arbeits- und Ruhezeitbestimmungen sowie der Bestimmungen betreffend Urlaub
          und Arbeitszeugnis gemäss Art. 28, 30 und 31 ZDG durch die Betriebe zugunsten der Zivis.
        </li>
      </ol>
      <ol>
        <li aria-level="1">MyZivi haftet insbesondere nicht für Schäden, die Benutzern oder Dritten durch das Verhalten
          von anderen Benutzern oder Dritten im Zusammenhang mit der Nutzung oder dem Missbrauch der Webseite entstehen.
        </li>
        <li aria-level="1">Auf der Webseite befinden sich Verlinkungen zu anderen Webseiten. MyZivi hat keinen Einfluss
          auf den Inhalt dieser Webseiten und übernimmt deshalb keine Verantwortung für deren Inhalt. Die Herstellung
          von Verbindungen zu diesen Webseiten erfolgt auf eigene Gefahr der Benutzer.
        </li>
      </ol>
      <h2><strong>5 Schadloshaltung</strong></h2>
      <ol>
        <li aria-level="1">Wenn andere Nutzer oder Dritte Ansprüche gegen MyZivi geltend machen wegen Verletzung ihrer
          Rechte durch einen Benutzer (nachfolgend <strong>Verletzender Benutzer</strong>) im Zusammenhang mit der
          Nutzung der Webseite oder der Abwicklung der entsprechenden Einsatzvereinbarungen, so stellt der verletzende
          Benutzer MyZivi von sämtlichen Ansprüchen frei, d.h. hält MyZivi schadlos und ersetzt MyZivi auf erste
          Aufforderung hin umgehend sämtliche Schäden, Verluste und Kosten, inklusive Anwalts- und Gerichtskosten sowie
          alle sonstigen Nachteile, welche MyZivi in diesem Zusammenhang erleidet.
        </li>
      </ol>
      <h2><strong>6 Datenschutz</strong></h2>
      <ol>
        <li aria-level="1">Indem der Benutzer ein Benutzerkonto bei MyZivi erstellt, willigt er ein, dass MyZivi sowie
          die von MyZivi beigezogenen Hilfspersonen und Dienstleister seine Personendaten gemäss
          <a href="https://www.myzivi.ch/datenschutzerkl%C3%A4rung/">Datenschutzerklärung</a> nutzen und bearbeiten und
          an Dritte weiterleiten. Die angehängte
          <a href="https://www.myzivi.ch/datenschutzerkl%C3%A4rung/">Datenschutzerklärung&nbsp;</a> stellt einen
          integrierenden Bestandteil dieser AGB dar.
        </li>
        <li aria-level="1">Die Benutzer sichern zu, die Personendaten der anderen Benutzer ausschliesslich unter
          Einhaltung der anwendbaren Datenschutzgesetzte zu bearbeiten und gemäss diesen AGB zu verwenden.
        </li>
      </ol>
      <h2><strong>7 Allgemeine Bedingungen</strong></h2>
      <h2><strong>7.1 Vereinbarung und Änderung AGB</strong></h2>
      <ol>
        <li aria-level="1">Der Benutzer anerkennt und stimmt zu, dass MyZivi diese AGB jederzeit durch Veröffentlichen
          der entsprechend geänderten und angepassten AGB auf der Webseite und durch Mitteilung an den Benutzer per
          E-Mail ändern kann und dass solche Änderungen der AGB ab Ablauf der durch MyZivi mitgeteilten Frist nach der
          Veröffentlichung gültig sind. Wenn der Benutzer nach Veröffentlichung der geänderten AGB auf der Webseite die
          Plattform resp. die Webseite weiterhin nutzt, gilt dies als Zustimmung und Annahme der geänderten AGB durch
          den Benutzer. Falls der Benutzer Änderungen an den AGB nicht zustimmt, darf er die Webseite nicht mehr nutzen.
          Es wird daher empfohlen, diese AGB regelmässig zu konsultieren und den Account der angegebenen
          E-Mail-Adresse(n) regelmässig auf solche Mitteilungen zu prüfen.
        </li>
      </ol>
      <h2><strong>7.2 Salvatorische Klausel</strong></h2>
      <ol>
        <li aria-level="1">Sollte eine Bestimmung der AGB nichtig oder ungültig sein oder werden, wird der übrige Teil
          der AGB davon nicht berührt. Nichtige oder ungültige Bestimmungen sind durch solche wirksame zu ersetzen, die
          ihrem wirtschaftlichen Zweck am nächsten kommen. In gleicher Weise ist zu verfahren, wenn sich eine
          Vertragslücke ergibt oder sich eine Bestimmung als undurchführbar erweist.&nbsp;
        </li>
      </ol>
      <h2><strong>7.3 Kein Verzicht</strong></h2>
      <ol>
        <li aria-level="1">Verzichtet MyZivi oder ein Benutzer darauf, ein vertragliches Recht im Einzelfall
          durchzusetzen, so kann dies nicht als genereller Verzicht auf derartige Rechte betrachtet werden.
        </li>
      </ol>
      <h2><strong>7.4 Anwendbares Recht und Gerichtsstand</strong></h2>
      <ol>
        <li aria-level="1">Die AGB unterstehen ausschliesslich dem schweizerischen materiellen Recht.</li>
        <li aria-level="1">Für sämtliche Streitigkeiten und/oder Ansprüche aus oder im Zusammenhang mit den AGB sind
          ausschliesslich die ordentlichen Gerichte in Zürich 1, Schweiz zuständig.
        </li>
      </ol>
      <p>Version 2, Zürich, 01.02.2021</p>
    </div>
  </div>
</section>

<%= render 'home/footer' %>
