<%= content_for(:container_class, 'index-container landing-page') %>

<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid pl-0">-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img alt="Brand" width="130" height="46" src="<%#= asset_pack_path 'media/images/landing_page/brand-logo.png' %>">-->
<!--    </a>-->
<!--    <div class="navbar-header">-->
<!--      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--        <span class="sr-only">Toggle navigation</span>-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--      <ul class="nav navbar-nav">-->
<!--        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
<!--        <li><a href="#">Link</a></li>-->
<!--        <li class="dropdown">-->
<!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Action</a></li>-->
<!--            <li><a href="#">Another action</a></li>-->
<!--            <li><a href="#">Something else here</a></li>-->
<!--            <li role="separator" class="divider"></li>-->
<!--            <li><a href="#">Separated link</a></li>-->
<!--            <li role="separator" class="divider"></li>-->
<!--            <li><a href="#">One more separated link</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="nav navbar-nav navbar-right">-->
<!--        <li><a href="#">Link</a></li>-->
<!--        <li class="dropdown">-->
<!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a href="#">Action</a></li>-->
<!--            <li><a href="#">Another action</a></li>-->
<!--            <li><a href="#">Something else here</a></li>-->
<!--            <li role="separator" class="divider"></li>-->
<!--            <li><a href="#">Separated link</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <a class="navbar-brand" href="#">
    <img src="<%= asset_pack_path 'media/images/landing_page/brand-logo.png' %>" width="130" height="48" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <a class="btn btn-landing btn-cta btn-nav-cta">Eine Demo erhalten</a>
  </div>
</nav>

<header class="page-heading hero-heading">
  <h1>Der einfachste Weg mit Zivis zu arbeiten</h1>
  <div>Mit MyZivi ist es so einfach wie noch nie Zivis zu finden, einzustellen und zu bezahlen.</div>
  <a href="" class="btn btn-landing btn-cta">Mehr erfahren</a>
</header>


<div class="rounded rounded-large mt-1 ml-1" style="height: 100px; width: 100px; background-color: #0d2054">
</div>
