<% content_for(:container_class, 'index-container') %>
<%= render 'home/navbar' %>

<div class="hero">
  <div class="container">
    <div class="hero-content text-center w-100">
      <h1>Datenschutzerklärung</h1>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="static-pages content-text">
      <h2><strong>1 Einleitung</strong></h2>
      <p>Verantwortlich für die Verarbeitung der Personendaten gemäss dieser Datenschutzerklärung ist MyZivi
        Kollektivgesellschaft, Technoparkstrasse 2, 8406 Winterthur (nachfolgend <strong>MyZivi</strong> oder
        <strong>wir</strong>). Der für den Datenschutz zuständige Kontakt bei MyZivi kann unter der vorgenannten
        Postanschrift, per E-Mail an info@myzivi.ch oder telefonisch unter 076 528 25 92 erreicht werden.</p>
      <p>Diese Datenschutzerklärung stellt einen integrierenden Bestandteil der
        <a href="https://www.myzivi.ch/terms-of-use/">AGB</a> dar.&nbsp;</p>
      <h2><strong>2 Definitionen</strong></h2>
      <p>Die Begriffsdefinitionen gemäss <a href="https://www.myzivi.ch/terms-of-use/">AGB</a>&nbsp;gelten auch für
        diese
        Datenschutzerklärung.</p>
      <p>Personendaten sind Informationen, die sich auf eine bestimmte oder bestimmbare (d.h. identifizierte oder
        identifizierbare) natürliche Person beziehen wie Name, Adresse, Telefonnummer, E-Mail-Adresse, Geburtsdatum,
        Bankkonto-resp. IBAN-Nummern usw. (nachfolgend <strong>Personendaten</strong>).</p>
      <p>Jeglicher Umgang mit Personendaten, unabhängig von den angewandten Mitteln und Verfahren, insbesondere die
        Erhebung, Beschaffung, Speicherung, Nutzung, Bearbeitung, Offenlegung, Archivierung oder Löschung von Daten,
        gilt
        als Verarbeitung (nachfolgend <strong>Verarbeitung</strong> oder <strong>verarbeitet</strong>).</p>
      <p>Verantwortlicher ist eine natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die
        Zwecke und Mittel der Verarbeitung von Personendaten entscheidet (nachfolgend <strong>Verantwortlicher</strong>).
      </p>
      <p>Auftragsverarbeiter ist eine natürliche oder juristische Person, die Personendaten im Auftrag des
        Verantwortlichen verarbeitet (nachfolgend <strong>Auftragsverarbeiter</strong>).</p>
      <h2><strong>3 Zwecke der Verarbeitung</strong></h2>
      <p>MyZivi ist Verantwortlicher und verarbeitet die folgenden Personendaten für folgende Zwecke:</p>
      <h2><strong>3.1 Besucher der Webseite</strong></h2>
      <p>Art der Personendaten: IP-Adresse</p>
      <p>Verwendungszweck: Gemäss Ziff. 7 unten</p>
      <h2><strong>3.2 Einsatzbetriebe</strong></h2>
      <p>Art der Personendaten:</p>
      <p>Firma; E-Mail; Telefonnummer; Adresse; Bankverbindung (Konto- und IBAN-Nummern); Vornamen und Nachnamen von
        Mitarbeitern und Teammitgliedern; Fotos von Mitarbeitern und Teammitgliedern.</p>
      <p>Verwendungszweck:</p>
      <p>Die Personendaten der Einsatzbetriebe (nachfolgend <strong>Betriebe</strong>) werden für die Erstellung und
        Verwaltung eines Benutzerprofils sowie für die Zusammenführung von Betrieben und Zivildienstleistenden
        (nachfolgend <strong>Zivis</strong>) (<strong><em>MyZivi-Recruiting</em></strong>), wie auch für den
        darauffolgenden Abschluss und die Durchführung resp. Erfüllung von Einsatzvereinbarungen verwendet. Die
        Personendaten der Betriebe werden zudem dazu verwendet, diverse administrative Abläufe zu erleichtern
        (<strong><em>MyZivi-Admin</em></strong>). Zudem kann MyZivi die Personendaten zum Zwecke des Direktmarketings
        (z.B. Newsletter) verwenden.</p>
      <h2><strong>3.3 Zivis</strong></h2>
      <p>Art der Personendaten:</p>
      <p>Profilfoto; Vorname; Nachname; Privatadresse; ZPD-Nummer; AHV-Nummer; Heimatort; Geburtsdatum; Telefonnummer;
        E-Mail-Adresse; Geschlecht; Führerscheine und Führerscheinnummern; Bankverbindung (Konto- und IBAN-Nummern);
        Lebenslaufangaben.</p>
      <p>Verwendungszweck:</p>
      <p>Die Personendaten der Zivis werden für die Erstellung und Verwaltung ihres Benutzerprofils sowie für die
        Zusammenführung von Betrieben und Zivis (<strong><em>MyZivi-Recruiting</em></strong>), wie auch für den
        darauffolgenden Abschluss und die Durchführung resp. Erfüllung von Einsatzvereinbarungen verwendet. Die
        Personendaten werden zudem dazu verwendet diverse administrative Abläufe zu erleichtern
        (<strong><em>MyZivi-Admin</em></strong>). Zudem kann MyZivi die Personendaten zum Zwecke des Direktmarketings
        (z.B. Newsletter) verwenden.</p>
      <h2><strong>3.4 Profiling und Einsatz von </strong><strong><em>Artificial Intelligence</em></strong><strong>
        (AI)</strong></h2>
      <p>MyZivi kann Personendaten benutzen, um zu versuchen, mehr über Besucher resp. Nutzer der Webseite, Zivis
        und/oder
        Betriebe (nachfolgend auch <strong>Sie </strong>oder <strong>Ihr(e)</strong> genannt) zu erfahren, so dass
        MyZivi
        gegebenenfalls ihre Dienstleistungen des Zusammenführens von Betrieben und Zivis sowie der administrativen
        Erleichterung der Zivildiensteinsätze verbessern kann.</p>
      <p>MyZivi wird <em>Artificial Intelligence</em> (AI) einsetzen, um automatisierte Empfehlungen für Betriebe und
        Zivis zu erstellen und auf der Webseite anzuzeigen und per E-Mail mitzuteilen.</p>
      <h2><strong>4 Speicherung</strong></h2>
      <p>MyZivi speichert Personendaten wie folgt:</p>
      <p>Soweit bei der Erhebung keine ausdrückliche Speicherdauer angegeben wird, werden die Personendaten gelöscht,
        soweit diese nicht mehr zur Erfüllung des Zweckes der Speicherung erforderlich sind, es sei denn gesetzliche
        Aufbewahrungspflichten (z.B. handels- und steuerrechtliche Aufbewahrungspflichten) stehen einer Löschung
        entgegen.</p>
      <h2><strong>5 Einwilligung, Rechtsgrundlage, Widerruf und Datenschutzrechte</strong></h2>
      <p>Mit der Übernahme dieser Datenschutzerklärung willigen Sie in die Verarbeitung Ihrer Personendaten gemäss
        dieser
        Datenschutzerklärung und den <a href="https://www.myzivi.ch/terms-of-use/">AGB</a> ein. Sie können Ihre
        Einwilligung jederzeit widerrufen, ohne jedoch die Rechtmässigkeit der Verarbeitung zu beeinträchtigen, die
        aufgrund der erteilten Zustimmung bis zum Widerruf stattgefunden hat. Darüber hinaus haben Sie – abhängig von
        den
        Umständen und sofern und soweit gemäss geltendem Datenschutzrecht zugestanden – insbesondere das Recht auf
        Offenlegung der bzw. Zugang zu den betroffenen Personendaten, das Recht auf Berichtigung, Löschung oder
        Einschränkung der Verarbeitung der Personendaten, das Recht, der Verarbeitung zu widersprechen sowie das Recht
        auf
        Ergreifung eines Rechtsmittels bei einer zuständigen Aufsichtsbehörde.</p>
      <p>Die oben genannten Rechte haben keine Auswirkungen auf Personendaten, die für Sie als Teil eines laufenden
        Vertragsverhältnisses oder einer Dienstleistungserbringung verarbeitet werden oder die wir aus rechtlichen
        Gründen
        behalten müssen oder dürfen.</p>
      <p>Betreffend Widerruf, Wahrnehmung Ihrer sonstigen Datenschutzrechte sowie weiteren Fragen, Anregungen und
        Kommentaren zum Thema Datenschutz kontaktieren Sie bitte die für den Datenschutz zuständige Person unter den
        eingangs genannten Kontaktdaten.</p>
      <h2><strong>6 Datenübermittlung</strong></h2>
      <p>MyZivi wird Ihre Personendaten nicht an Dritte weitergeben, es sei denn</p>
      <ul>
        <li aria-level="1">dies ist in dieser Datenschutzerklärung ausdrücklich anders festgelegt (siehe insbesondere
          diese Ziffer 6 weiter unten und Ziffer 7);
        </li>
        <li aria-level="1">dies ist notwendig, um Ihre Interessen zu wahren;</li>
        <li aria-level="1">dies ist notwendig, um Ihre Vertragsbeziehung mit MyZivi zu erfüllen oder aufrechtzuerhalten
          resp. damit MyZivi ihre Dienstleistungen (Bereitstellung der Webseite, Zusammenführen von Betrieben und Zivis
          (<strong><em>MyZivi-Recruiting</em></strong>) sowie die administrative Erleichterung der Zivildiensteinsätze
          (<strong><em>MyZivi-Admin</em></strong>) Ihnen gegenüber erbringen kann;
        </li>
        <li aria-level="1">Sie haben vorher Ihre Zustimmung gegeben.</li>
      </ul>
      <p>Darüber hinaus wird MyZivi Auftragsverarbeiter für Hosting, Wartung, Verwaltung und Speicherung (z. B. Backup
        und/oder Cloud-Storage) Ihrer Personendaten ernennen, welche Personendaten verarbeiten, soweit dies für die
        Durchführung solcher Hosting-,&nbsp; Wartungs-, Verwaltungs- und Sicherungsmassnahmen und/oder ähnliche Zwecke
        erforderlich ist. In diesem Zusammenhang können einige Ihrer Personendaten ausserhalb der Schweiz oder
        ausserhalb
        der EU verarbeitet werden. Dies schliesst auch Drittstaaten mit ein, welche im Verglich zur Schweiz und der EU
        kein gleichwertig starkes Datenschutzniveau bieten. Wenn MyZivi insofern Personendaten ausserhalb der Schweiz
        oder
        ausserhalb der EU verarbeitet, wird MyZivi alle zumutbaren Schritte und Massnahmen unternehmen resp. vorsehen,
        die
        durch das geltende und anwendbare Datenschutzgesetz erforderlich sind, um sicherzustellen, dass Ihre
        Personendaten
        trotzdem sicher verarbeitet und aufbewahrt werden.</p>
      <h2><strong>7 Datenverarbeitung durch Benutzung der Webseite</strong></h2>
      <p>Durch die Verwendung der Webseite stimmen Sie zu, dass Ihre Daten gemäss den Bestimmungen dieser
        Datenschutzerklärung gespeichert und/oder verwendet werden.</p>
      <h2><strong>7.1 SSL-Verschlüsselung</strong></h2>
      <p>Diese Webseite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte eine
        SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von
        "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
      <h2><strong>7.2 Server-Log-Files</strong></h2>
      <p>Der Provider dieser Webseite erhebt und speichert automatisch Informationen in so genannten "Server-Log Files",
        die Ihr Browser automatisch an MyZivi übermittelt. Dies sind insbesondere:</p>
      <ul>
        <li>Browsertyp und Browserversion;</li>
        <li>verwendetes Betriebssystem;</li>
        <li>Referrer URL;</li>
        <li>Hostname des zugreifenden Rechners;</li>
        <li>Zeitpunkt der Serveranfrage;</li>
        <li>IP-Adresse.</li>
      </ul>
      <p>Diese Daten werden nicht bestimmten Personen zugeordnet. Eine Zusammenführung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. MyZivi behält sich vor, diese Daten nachträglich zu analysieren und nach
        Möglichkeit zuzuordnen, wenn konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>
      <h2><strong>7.3 Einsatz von Cookies und Zählpixel</strong></h2>
      <h2><strong>7.3.1 Definition</strong></h2>
      <p>Cookies sind kleine Dateien, die auf Ihrem Computer oder mobilen Gerät gespeichert werden, wenn Sie unsere
        Webseite nutzen.</p>
      <p>Zählpixel sind kleine Grafiken, die in den HTML-Code oder E-Mails eingebettet werden. Wenn Sie unsere Webseite
        nutzen, werden diese Grafiken heruntergeladen und auf Ihrem Computer oder mobilen Gerät gespeichert.</p>
      <h2><strong>7.3.2 Zwingende und nicht zwingende Cookies</strong></h2>
      <p>Zwingende Cookies sind Daten, die an den Browser auf der Festplatte Ihres Computers gesendet werden, damit wir
        Ihnen bestimmte Funktionen anbieten können.</p>
      <p>Mit Hilfe von nicht zwingenden Cookies sammeln wir Informationen zu den Besuchen der Webseite. Zudem verwenden
        wir nicht zwingende Cookies zur Verbesserung der Benutzerfreundlichkeit der Webseite, beispielsweise um die
        Stichwortsuche zu optimieren, unser Angebot den Kundenwünschen anzupassen und Ihnen das Surfen auf der Webseite
        so
        komfortabel wie möglich zu gestalten. Wir verwenden Cookies auch zur Optimierung unserer Werbung. Mit Cookies
        können wir Ihnen Werbung und/oder besondere Angebote präsentieren, die für Sie aufgrund Ihrer Nutzung unserer
        Webseite besonders interessant sein könnten. Unser Ziel ist es dabei, unser Internet-Angebot für Sie so
        attraktiv
        wie möglich zu gestalten und Ihnen Werbung zu präsentieren, die Ihren Interessengebieten entspricht.</p>
      <h2><strong>7.3.3 Session-Cookies und permanente Cookies</strong></h2>
      <p>Sogenannte "Session-Cookies" werden nach Ende Ihres Besuchs automatisch gelöscht. Darüber hinaus verwenden wir
        auch permanente Cookies. Diese bleiben nach dem Ende der Browser-Sitzung auf Ihrem Computer oder mobilen Gerät
        gespeichert, bis Sie diese löschen. Bei einem weiteren Besuch auf unserer Webseite wird dann automatisch
        erkannt,
        welche Eingaben und Einstellungen Sie bevorzugen. Diese Cookies bleiben je nach Art des Cookies zwischen einem
        Monat und zehn Jahre auf Ihrem Computer oder mobilen Gerät gespeichert und werden nach Ablauf der programmierten
        Zeit automatisch deaktiviert. Sie dienen dazu, unsere Webseite nutzerfreundlicher, effektiver und sicherer zu
        machen. Dank dieser Cookies bekommen Sie beispielsweise speziell auf Ihre Interessen abgestimmte Informationen
        auf
        der Seite angezeigt.</p>
      <h2><strong>7.3.4 Zählpixel</strong></h2>
      <p>Zählpixel ermöglichen eine Logdatei-Aufzeichnung und eine Logdateianalyse, die oft für statistische
        Auswertungen
        für das Online-Marketing verwendet werden. Zählpixel werden insbesondere dafür verwendet, dass sich die Webseite
        beim nächsten Besuch des Benutzers an seine Einstellungen erinnert und ihm seinen Aktivitäten entsprechende
        relevante Informationen anzeigen kann. Zählpixel werden weiter dazu genutzt, dass Dritte dem Benutzer auf der
        Webseite, aber auch auf Webseiten Dritter, Werbung anzeigen können, die seinen Aktivitäten entspricht.</p>
      <h2><strong>7.3.5 Web Analyse-Tools</strong></h2>
      <p>Zum Zwecke der bedarfsgerechten Gestaltung und fortlaufenden Optimierung der Webseite nutzt MyZivi
        <strong>Web-Analyse Dienste</strong> wie z.B. Google Analytics, die MyZivi aufzeigen, wie die Webseite genutzt
        wird. In diesem Zusammenhang werden anonymisierte Nutzungsprofile erstellt und Cookies sowie Zählpixel
        verwendet.
        Die dadurch erzeugten Informationen über die Benutzung der Webseite durch den Benutzer wie Browser-Typ/-Version,
        verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners
        (IP-Adresse) oder Uhrzeit der Serveranfrage werden an Server dieser Web-Analyse Dienste (wie z.B. Google Inc. in
        den USA und/oder Google Ireland Ltd. in Irland) übertragen und dort gespeichert. Diese Informationen werden
        verwendet, um die Nutzung der Webseite auszuwerten, um Reports über die Webseite-Aktivitäten zusammenzustellen
        und
        um weitere mit der Webseite-Nutzung und der Internetnutzung verbundene Dienstleistungen zu Zwecken der
        Marktforschung und bedarfsgerechten Gestaltung dieser Internetseiten zu erbringen. Auch werden diese
        Informationen
        gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im
        Auftrag verarbeiten. Es wird in keinem Fall die IP-Adresse mit anderen den Nutzer betreffenden Daten in
        Verbindung
        gebracht werden. Die IP-Adressen werden anonymisiert, so dass eine Zuordnung nicht möglich ist (IP-Masking).</p>
      <h2><strong>7.3.6 Aktivierung, Deaktivierung und Löschen von Cookies</strong></h2>
      <p>Bei allen Webbrowsern besteht die Möglichkeit, die Verwendung von Cookies zu aktivieren, zu deaktivieren oder
        zu
        löschen, indem die Einstellungen oder Optionen des Browsers entsprechend konfiguriert werden. Falls Cookies ganz
        oder teilweise deaktiviert oder gelöscht werden, stehen allenfalls nicht mehr alle Funktionen der Webseite zur
        Verfügung.</p>
      <h2><strong>7.3.7 Cookies und Personendaten</strong></h2>
      <p>In den von uns verwendeten Cookies werden abgesehen von IP-Adressen (welche selbst in vollständiger Form nicht
        zwingend Personendaten darstellen) keine Personendaten gespeichert. Die von uns verwendeten Cookies werden
        keiner
        bestimmten Person zugeordnet. Bei Aktivierung eines Cookies wird diesem eine Identifikationsnummer
        zugewiesen.</p>
      <h2><strong>7.4 Links zu anderen Webseiten</strong></h2>
      <p>Die Webseite enthält Links zu anderen Webseiten. MyZivi hat keinen Einfluss darauf, ob deren Betreiber die
        anwendbaren Datenschutzbestimmungen einhalten. MyZivi schliesst jegliche Verantwortung oder Haftung für die
        unter
        den Links abrufbaren Webseiten Dritter aus.</p>
      <h2><strong>8 Sicherheit und Haftung</strong></h2>
      <p>MyZivi schützt Personendaten durch angemessene Massnahmen vor Verlust, Missbrauch, unbefugtem Zugriff,
        Offenlegung, Veränderung oder Vernichtung. Zu diesem Zweck setzt MyZivi geeignete technische und
        organisatorische
        Sicherheitsmassnahmen ein, die in Übereinstimmung mit den technologischen Entwicklungen kontinuierlich
        verbessert
        werden. MyZivi kann jedoch die absolute Sicherheit der Daten nicht garantieren. MyZivi schliess hiermit im
        Rahmen
        des gesetzlich Erlaubten ausdrücklich jegliche Haftung für Verluste oder Schäden, welche Sie direkt, indirekt,
        mittelbar oder unmittelbar, im Zusammenhang mit Verstössen gegen diese Datenschutzerklärung, der
        Datenverarbeitung
        durch MyZivi, Ihrer Nutzung der Webseite oder Informationen auf der Webseite erleiden resp. erlitten haben, aus.
        Dieser Haftungsausschluss befreit neben MyZivi auch ihre Partner, Direktoren, Organe, Angestellte und
        Vertreter.</p>
      <h2><strong>9 Einwilligung Dritter</strong></h2>
      <p>Wenn Sie als Vermittler oder anderweitig im Auftrag oder in Vertretung eines Dritten handeln oder MyZivi
        Informationen über eine dritte Partei liefern (wie z.B. Ihrer Mitarbeiter), erklären Sie hiermit, dass Sie ein
        bevollmächtigter Vertreter oder Beauftragter dieser dritten Partei sind und/oder dass Sie alle erforderlichen
        Zustimmungen (wie vom geltenden und anwendbaren Recht verlangt) von dieser dritten Partei zur Erhebung,
        Verarbeitung, Verwendung und Offenlegung derer Personendaten an uns resp. durch uns erhalten haben.</p>
      <h2><strong>10 Schlussbestimmungen</strong></h2>
      <p>MyZivi behält sich das Recht vor, diese Datenschutzerklärung jederzeit durch Veröffentlichen der entsprechend
        geänderten und angepassten Datenschutzerklärung auf der Webseite und durch Mitteilung per E-Mail an den Benutzer
        zu ändern, welche ab Ablauf der durch MyZivi mitgeteilten Frist nach der Veröffentlichung gültig ist. Wenn Sie
        nach Veröffentlichung der geänderten Datenschutzerklärung auf der Webseite die Plattform resp. die Webseite
        weiterhin nutzen, gilt dies als Zustimmung und Annahme der geänderten Datenschutzerklärung durch Sie. Falls Sie
        Änderungen an der Datenschutzerklärung nicht zustimmen, dürfen Sie die Webseite nicht mehr nutzen. Es wird daher
        empfohlen, diese Datenschutzerklärung regelmässig zu konsultieren und den Account der angegebenen
        E-Mail-Adresse(n) regelmässig auf solche Mitteilungen zu prüfen.</p>
      <p>Sollten eine oder mehrere Bestimmungen oder Teile dieser Datenschutzerklärung ungültig oder nichtig sein oder
        werden, so wird dadurch die Gültigkeit der übrigen Bestimmungen nicht berührt. Im Falle der Ungültigkeit oder
        Nichtigkeit einer Bestimmung wird diese durch eine solche wirksame ersetzt, die dem Zweck der ungültigen
        respektive nichtigen Bestimmung, gegen die diese Datenschutzerklärung verstossen, am nächsten kommt.</p>
      <p>Vorbehaltlich allfälliger zwingend anwendbaren Datenschutzgesetze unterliegt diese Datenschutzerklärung
        materiellem Schweizer Recht, unter Ausschluss seiner Kollisionsnormen. Ausschliesslicher Gerichtsstand ist
        Zürich
        1, Schweiz.</p>
      <p>Version 2, Zürich, 01.02.2021&nbsp;</p>
    </div>
  </div>
</section>

<%= render 'home/footer' %>
