$navbar-height: 73px;

.my-zivi-top-navbar {
  position: fixed;
  z-index: $zindex-fixed;
  width: 100%;
  box-shadow: 0 2px 8px rgba($black, .2);

  .my-zivi-logo {
    vertical-align: sub;
  }

  @include media-breakpoint-down(md) {
    .dropdown-menu {
      margin: 0 .35em;

      &::after {
        display: none;
      }
    }
  }
}

.navbar-spacer {
  position: static;
  height: $navbar-height;
}
