@import 'navbar';
@import 'sticky_flash_message';
@import 'buttons';
@import 'footer';
@import 'hero';
@import 'home_hero';

section.jobs {
  .company-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .card {
    transition: .2s box-shadow;
  }

  a:hover {
    text-decoration: none;

    .card {
      box-shadow: 0 12px 19px 0 rgba($black, .1);
    }
  }

  .job-description {
    color: $gray;
  }
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 2.5em;
}

section.publications {
  .publication-icon {
    margin: 1em 1em 0;

    picture,
    img {
      max-width: 100%;
      height: 70px;
      object-fit: contain;
    }
  }
}

section.advantages {
  color: $white;
  background: $my-zivi-gradient;
}

section.contact {
  background-image: url('../images/home/footer.png');
  background-position: bottom;
  background-size: cover;
}

.webp section.contact {
  background-image: url('../images/home/footer.webp');
}

.illustration-image {
  width: 100%;
  height: 300px;
  object-fit: contain;

  @include media-breakpoint-up(xl) {
    width: 75%;
  }
}

.steps-badge {
  $size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  font-weight: 600;
  color: $blue;
  border: 2px solid $blue;
  border-radius: $size / 2;
}
