@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../theme/variables';

$month-title-height: 50px;
$cell-height: 40px;
$names-list-width: 150px;

.services-overview-container {
  overflow-x: scroll;
  padding: 0 0 1em;
  margin: 1.25em;

  &::-webkit-scrollbar {
    height: 1em;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid $gray-200;
    background-color: $gray-100;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-600;

    &:hover {
      background-color: $gray-700;
    }
  }
}

.month-title {
  margin-bottom: 0;
  padding-bottom: .25em;
  height: $month-title-height;
}

.month-title,
.services-overview-month-table {
  border-right: 1px solid $black;
}

.services-overview-month-table {
  .d-table-cell {
    height: $cell-height;
    min-width: 28px;
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid $gray-400;

    &:last-child {
      border-right: none;
    }
  }

  .day-cell {
    vertical-align: middle;

    &.active {
      background-color: $light-green;
      color: $green;
    }

    &.tentative {
      background-color: $light-salmon;
      color: $dark-salmon;
    }
  }
}

.names-list {
  background-color: rgba($white, .9);
  padding-top: $month-title-height + $cell-height;
  white-space: nowrap;
  position: fixed;
  max-width: $names-list-width;
  overflow: hidden;
  box-shadow: 7px 0 7px -7px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba($black, .3);
  transition: .25s all;
  padding-right: 0;

  @supports (backdrop-filter: blur(1px)) {
    background-color: rgba($white, .8);
    backdrop-filter: blur(8px);
  }

  &:hover {
    max-width: inherit;
    padding-right: 1em;
  }

  .name-row {
    display: flex;
    align-items: center;
    height: $cell-height;
    width: 100%;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: .25em;
    }
  }
}

.names-list + .monthly-table-container {
  padding-left: $names-list-width;
}
