---
http_interactions:
- request:
    method: get
    uri: https://scraper.myzivi.ch/dev/current_postings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"182a707a29bf493e937951c3faa94f19"
    body:
      encoding: UTF-8
      string: '[{"publication_date":"Wed, 14 Sep 2022 10:51:22 +0200","title":"Betreuer
        / Fahrdienst / Techn. Dienst","identification_number":16240,"description":"\n\t\t\t\n\t\t\t\t\t\t\u003cul\u003e\n\t\t\t\t\t\t\t\t\u003cli\u003e\n\u003cstrong\u003e80%\n\t\t\t\t\t\t\t\t\t\tBetreuung
        / Fahrdienst\u003c/strong\u003e\u003cbr\u003eBewohner beim Einkaufen, bei
        Ausflügen begleiten, spazieren, spielen, vorlesen.\nFahrten zum Arzt, Zahnarzt,
        Physiotherapie und Ausflüge.\u003c/li\u003e\n\t\t\t\t\t\t\t\t\u003cli\u003e\n\u003cstrong\u003e20%\n\t\t\t\t\t\t\t\t\t\tTechnischer
        Dienst\u003c/strong\u003e\u003cbr\u003eUmgebungsarbeiten wie Rasen mähen,
        Staub saugen, Bäume schneiden und Reinigungsarbeiten.\u003c/li\u003e\n\t\t\t\t\t\t\u003c/ul\u003e\n\t\t\t\n\t\t","required_skills":"Fahrausweis
        Kat. B, verantwortungsbewusstes Fahren.\n\t\t\t","preferred_skills":"Selbständige
        Arbeitsweise, Bereitschaft sich auf betagte und demente Menschen einzulassen.","required_courses":["Kommunikation
        \u0026 Betreuung","Betreuung von betagten Menschen 1","Betreuung von betagten
        Menschen 2"],"free_service_periods":[],"canton":"BE","category":"social_welfare","organization_name":"Domicil
        Weiermatt","sub_category":"support_and_accompaniment","minimum_service_months":1,"priority_program":true,"language":"de-CH","last_found_at":"13
        Sep 2022","contact":{"gender":"Frau","job":"Leitung Sekretariat","first_name":"Andrea","last_name":"Josi","phone":"+41
        31 868 30 60","email":"andrea.josi@domicilbern.ch"},"address":{"primary_line":"Domicil
        Weiermatt","secondary_line":"Frau Anja Rüegsegger","street":"Moosgasse 15","supplement":"Sachbearbeiterin
        Administration","city":"Münchenbuchsee","zip":3053,"latitude":47.02366235,"longitude":7.45053836713023},"weekly_work_time":42.0,"fixed_work_time":true,"good_reputation":false,"e_government":true,"work_on_weekend":false,"work_night_shift":false,"accommodation_provided":false,"food_provided":true},{"publication_date":"Wed,
        14 Sep 2022 10:55:56 +0200","title":"Hilfsbetreuer","identification_number":18470,"description":"\n\t\t\t\n\t\t\t\t\t\t\u003cul\u003e\n\t\t\t\t\t\t\t\t\u003cli\u003e\n\u003cstrong\u003e30%\n\t\t\t\t\t\t\t\t\t\tHausdienst\u003c/strong\u003e\u003cbr\u003eMithilfe
        im Haushalt / Unterstützung bei der Erziehungsplanung und bei administrativen
        Tätigkeiten der Wohngemeinschaft\u003c/li\u003e\n\t\t\t\t\t\t\t\t\u003cli\u003e\n\u003cstrong\u003e60%\n[...]
