.row.card-deck
  - if @civil_servant.in_service?
    = render( \
      OverviewCardComponent.new( \
        title: t('.titles.current_service'),
        text: @civil_servant.active_service.organization.name,
        type: OverviewCardComponent::TYPES[:info],
        links: { t('.links.all_services') => civil_servants_services_path } \
      ) \
    )
  - else
    = render(\
          OverviewCardComponent.new(\
            title: '',
            text: t('.titles.no_current_service'),
            type: OverviewCardComponent::TYPES[:info],
            links: { t('.links.all_services') => civil_servants_services_path } \
          ) \
        )

  = render( \
    OverviewCardComponent.new( \
      title: t('.titles.expense_sheets'),
      text: @civil_servant.expense_sheets.count,
      type: OverviewCardComponent::TYPES[:info],
      links: { t('.links.all_expense_sheets') => '#' } \
    ) \
  )

  - if current_civil_servant.in_service?
    = render( \
      OverviewCardComponent.new( \
        title: t('.titles.service_until'),
        text: l(@civil_servant.active_service.ending),
        type: OverviewCardComponent::TYPES[:info],
        links: { t('.links.current_service') => civil_servants_service_path(current_civil_servant.active_service) } \
      ) \
    )

