@font-face {
  font-family: ubuntu;
  font-style: italic;
  font-weight: 300;
  src: url('~/fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 300;
  src: url('~/fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: italic;
  font-weight: 400;
  src: url('~/fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url('~/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: italic;
  font-weight: 500;
  src: url('~/fonts/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 500;
  src: url('~/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: italic;
  font-weight: 700;
  src: url('~/fonts/ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url('~/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-display: swap;
}
