@import 'ubuntu';
@import 'theme/falcon';
@import 'home/index';
@import 'home/administration';
@import 'home/about_us';
@import 'home/blog';
@import '~instantsearch.css/themes/reset-min';

body {
  font-family: $font-family-sans-serif;
}

.line-height-17 {
  line-height: 1.7;
}

.shadow-popover {
  box-shadow: $box-shadow;
}
