<p><%= t('devise.mailer.email_changed.greeting', recipient: @email) %></p>

<p>
  <% mail = @resource.try(:unconfirmed_email?) ? @resource.unconfirmed_email : @resource.email %>
  <%= t('devise.mailer.email_changed.message', email: mail) %>
</p>

<p><%= t('devise.mailer.email_changed.footer') %></p>
