<% name = @resource.try(:referencee).try(:full_name) || @resource.email -%>
<p>Bonjour <%= name %>!</p>

<p>Nous vous écrivons pour vous informer que votre mot de passe a été modifié.</p>
<p>
  Si vous avez changé votre mot de passe intentionnellement, vous pouvez ignorer cet e-mail.
  <br>
  Sinon, veuillez nous contacter à <%= mail_to('info@myzivi.ch', 'info@myzivi.ch') %>
</p>

<p>Votre équipe MyZivi</p>
