<% name = @resource.try(:referencee).try(:full_name) || @resource.email -%>
<p>Hallo <%= name %>!</p>

<p>Wir schreiben Ihnen, um Sie darüber zu informieren, dass Ihr Passwort geändert wurde.</p>
<p>
  Falls Sie ihr Passwort absichtlich geändert haben, können Sie diese E-Mail ignorieren.
  <br>
  Falls nicht, kontaktieren Sie uns bitte unter <%= mail_to('info@myzivi.ch', 'info@myzivi.ch') %>
</p>

<p>Ihr MyZivi-Team</p>
