<% name = @resource.try(:referencee).try(:full_name) || @resource.email -%>
<p>Hallo <%= name %>!</p>

<p>
  Jemand hat einen Link angefordert, um Ihr Passwort zu ändern.
  Klicken Sie auf den unten aufgeführten Link und folgen Sie den Instruktionen um das Passwort zu ändern.
</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Bitte ignorieren Sie diese E-Mail, wenn Sie kein neues Passwort angefordert haben.
  <br />
  Das Passwort wird nicht geändert bis Sie den obenstehenden Link abrufen und ein neues Passwort bestimmen.
</p>

<p>Ihr MyZivi Team</p>
<br />
<small>Dies ist eine automatisch generierte E-Mail. Bitte antworten Sie nicht darauf.</small>
