<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à un nombre d'essais de connexions manquées trop important.</p>

<p>Suivez ce lien pour débloquer votre compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>

<p>Votre équipe MyZivi</p>
