---
http_interactions:
- request:
    method: get
    uri: https://scraper.myzivi.ch/dev/current_postings.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"46769fb4394c7619c1b2cb6aea5fce34"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<channel>\n  <job_posting>\n
        \   <publication_date>Sat, 02 Oct 2021 05:14:22 +0200</publication_date>\n
        \   <title>Projektmitarbeiter \"saubere Luft\"</title>\n    <identification_number>81721</identification_number>\n
        \   <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;100% Mithilfe
        Entwicklung&lt;/strong&gt;&lt;br&gt;Die Abteilung Luftfremdstoffe / Umwelttechnik
        trägt dazu bei, die Belastung der Luft mit Schadstoffen und Treibhausgasen
        zu reduzieren. Dafür arbeiten wir mit dem Bundesamt für Umweltschutz (BAFU)
        und mit zahlreichen nationalen und internationalen Forschungseinrichtungen
        zusammen. Dank der Entwicklung und dem Feldeinsatz von neuen Messverfahren
        identifizieren, quantifizieren und reduzieren wir Quellen von Luftschadstoffen
        und Treibhausgasen. In diesem Zusammenhang fallen folgende unterstützende
        Tätigkeiten an:\n\n- Entwicklung und Erprobung neuer Messverfahren\n- Planung,
        Durchführung und Auswertung von Messungen der Luftschadstoffe\n- Visualisierung
        und Interpretation der Messergebnisse mit Hilfe von Ausbreitungsmodellen.&lt;/li&gt;\n\t\t\t&lt;/ul&gt;</description>\n
        \   <required_skills>&lt;p&gt;\n\t\t\t\tAbschluss einer Uni/ETH oder Fachhochschule
        (z. B. Chemie, Physik, Umweltwissenschaften) oder einer Lehre (z. B. Polymechaniker,
        Elektrotechnik)\n\t\t\t&lt;/p&gt;\n</required_skills>\n    <preferred_skills>&lt;p&gt;\n\t\t\t\t\tInteresse
        an Umweltschutz und selbständigem Arbeiten\n\t\t\t\t&lt;/p&gt;</preferred_skills>\n
        \   <required_courses>\n    </required_courses>\n    <free_service_periods>\n
        \     <free_service_period beginning=\"09.05.2022\" ending=\"08.10.2023\"/>\n
        \   </free_service_periods>\n    <canton>ZH</canton>\n    <category>nature_conservancy</category>\n
        \   <organization_name>EMPA Dübendorf - Materials Science and Technology</organization_name>\n
        \   <sub_category/>\n    <minimum_service_months>4</minimum_service_months>\n
        \   <focus_program>false</focus_program>\n    <language>de-CH</language>\n
        \   <contact>\n      <gender>Herr</gender>\n      <job>Abteilungsleiter</job>\n
        \     <first_name>Lukas</first_name>\n      <last_name>Emmenegger</last_name>\n
        \     <phone>+41 58 765 46 99</phone>\n      <email>lukas.emmenegger@empa.ch</email>\n
        \   </contact>\n    <address>\n      <primary_line>EMPA Dübendorf - Materials
        Science and Technology</primary_line>\n      <secondary_line>Herr André Schmid</secondary_line>\n
        \     <street>Überlandstrasse 129</street>\n      <supplement>Leiter Personal</supplement>\n
        \     <city>Dübendorf</city>\n      <zip>8600</zip>\n      <lat>47.40236945</lat>\n
        \     <lng>8.61149906408814</lng>\n    </address>\n  </job_posting>\n  <job_posting>\n
        \   <publication_date>Sat, 02 Oct 2021 05:14:46 +0200</publication_date>\n
        \   <title>Klassen- und Schülerhilfe</title>\n    <identification_number>77220</identification_number>\n
        \   <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;100% Mitarbeit
        in Unterricht und Betreuung&lt;/strong&gt;&lt;br&gt;Haupttätigkeit:\nUnter
        der Anleitung des zuständigen Lehrpersonals Unter[...]
