---
http_interactions:
- request:
    method: get
    uri: https://scraper.myzivi.ch/dev/xml.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Etag:
      - W/"be97e602b983c14459e679641f366769"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\">\n
        \ <channel>\n    <title>EZivi Scrapper</title>\n    <description>This are
        the latest scrapped Entries</description>\n    <link>https://scraper.myzivi.ch/xml.rss</link>\n
        \   <item>\n      <pubDate>Tue, 14 Sep 2021 05:04:47 +0200</pubDate>\n      <title>Mitarbeiter
        Informatik</title>\n      <identification_number>61869</identification_number>\n
        \     <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;20% Netzwerk&lt;/strong&gt;&lt;br&gt;Mithilfe
        beim Unterhalt und bei der Instandhaltung von Netzwerken-Komponenten und Verkabelungen&lt;/li&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;20%
        PC Installation&lt;/strong&gt;&lt;br&gt;Mithilfe beim Installieren von Software
        auf PCs und beim Vorbereiten von PCs für den Roll-out&lt;/li&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;60%
        IT Support&lt;/strong&gt;&lt;br&gt;Mithilfe bei der Bedienung der Hotline
        und beim Benutzersupport / Unterstützung bei der Installation von PCs und
        Druckern vor Ort&lt;/li&gt;\n\t\t\t&lt;/ul&gt;</description>\n      <required_skills>&lt;p&gt;\n\t\t\t\tAbgeschlossene
        Lehre als Informatiker oder gleichwertige Ausbildung / Gute Auffassungsgabe
        / Angenehme Umgangsformen mit dem Personal / Gepflegtes Auftreten\n\t\t\t&lt;/p&gt;\n</required_skills>\n
        \     <preferred_skills>&lt;p&gt;\n\t\t\t\t\tSelbständiges, zuverlässiges
        Arbeiten / Teamfähigkeit\n\t\t\t\t&lt;/p&gt;</preferred_skills>\n      <required_courses>\n
        \     </required_courses>\n      <free_service_periods>\n        <free_service_period
        beginning=\"14.09.2021\" ending=\"26.09.2021\"/>\n        <free_service_period
        beginning=\"11.10.2021\" ending=\"05.12.2021\"/>\n        <free_service_period
        beginning=\"03.01.2022\" ending=\"17.09.2023\"/>\n      </free_service_periods>\n
        \     <canton>OW</canton>\n      <category>healthcare</category>\n      <organization_name>Kantonsspital
        Obwalden</organization_name>\n      <sub_category/>\n      <minimum_service_months>2</minimum_service_months>\n
        \     <focus_program>false</focus_program>\n      <language>de-CH</language>\n
        \     <contact>\n        <gender>Frau</gender>\n        <job>Koordinatorin
        Zivildienst</job>\n        <first_name>Madeleine</first_name>\n        <last_name>von
        Ah Bieri</last_name>\n        <phone>+41 41 666 40 15</phone>\n        <email>madeleine.vonah@ksow.ch</email>\n
        \     </contact>\n      <address>\n        <primary_line>Kantonsspital Obwalden</primary_line>\n
        \       <secondary_line/>\n        <street>Brünigstrasse 181</street>\n        <supplement/>\n
        \       <city>Sarnen</city>\n        <zip>6060</zip>\n      </address>\n    </item>\n
        \   <item>\n      <pubDate>Tue, 14 Sep 2021 05:04:47 +0200</pubDate>\n      <title>Hilfspfleger</title>\n
        \     <identification_number>55934</identification_number>\n      <description>&lt;ul&gt;\n\t\t\t\t\t&lt;li&gt;\n&lt;strong&gt;60%
        Pflege / Betreuung&lt;/strong&gt;&lt;br&gt;Mithilfe in der Grundpflege unter
        Anweisung und Überwachung des diplomierten Pflegepersonals / Betreuen und
        Begleiten der Patientinnen u[...]
