DATABASE_USERNAME=root
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_NAME=db_name
SENTRY_DSN=the-sentry-dsn
DEVISE_JWT_SECRET_KEY="bundle exec rake secret"
DEVISE_SECRET_KEY="bundle exec rake secret"
DEVISE_PEPPER="bundle exec rake secret"
MAIL_SENDER=no-reply@stiftungswo.ch
APP_HOST=localhost
APP_PORT=3000
FRONTEND_URL=izivi.locahost
PAIN_CREDITOR_NAME=Example Company
PAIN_CREDITOR_BIC=POFICHBEXXX
PAIN_CREDITOR_IBAN=CH9300762011623852957

SMTP_HOST=example.com
SMTP_PORT=25
SMTP_USER_NAME=username
SMTP_PASSWORD=password
