meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /
meta name='viewport' content='width=device-width, initial-scale=1' /
link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" /
link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" /
link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /
link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" /
link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" /
link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" /
link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" /
link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" /
link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /
link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" /
link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
link href="/site.webmanifest" rel="manifest" /
link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /
meta content="#eff0f1" name="msapplication-TileColor" /
meta content="#ffffff" name="theme-color" /
meta name="description" content=t('layouts.application.meta.description') /
meta property="og:title" content=t('layouts.application.meta.og_title') /
meta property="og:type" content='website' /
link rel="preconnect" href="https://fonts.gstatic.com" /

- %w[LightItalic Light Italic Regular MediumItalic Medium BoldItalic Bold].each do |font|
  link[
    rel="preload"
    href=asset_pack_url("media/fonts/ubuntu/Ubuntu-#{font}.ttf")
    as="font"
    type="font/ttf"
    crossorigin=Rails.env.development?
  ] /
