/**
 * `Article` Page Component
 */

.page__edit_expense

  .form-group
    margin-bottom: 6px

  hr
    border-top: solid 2px #286090

  .proposalComment

    label
      font-weight: normal
      color: #cccccc

  .has-warning input
      background-color: rgb(255, 250, 240)