/**
 * `Article` Page Component
 */

.page__edit_expense

  div.row
    border-bottom: 1px solid
    vertical-align: middle
    display: flex

  div.row div
    display: table-cell
    vertical-align: middle
/*
 .divTable
    display: table
    table-layout: fixed



  .container div.row:last-child
    border-bottom: 0
