/**
 * `Home` Page Component
 */

@import '../config/vars.sass'



.page__home
	background-image: url('/img/nature-wallpapers-phone-For-Desktop-Wallpaper.jpg')
	background-size: cover
	min-height: 94vh

	span
		font-size: 14px

	p
		text-align: justify

	ul
		padding-left: 2 * $base-spacing
		padding-right: 2 * $base-spacing
		text-align: justify

	img
		width: 100%
		display: block
		margin: $base-unit auto
		max-width: 60 * $base-spacing // 960

.card
	background: rgba(255, 255, 255, 0.9)
	height: auto
	