
.table-no-padding
  td
    padding: 5px 1px 5px 1px !important
    text-align: center

.einsatz
  background: #00CC66
  text-align: center

.einsatzDraft
  background: #FFCC99
  text-align: center


@media print
  td
    font-size: 9pt !important

  .einsatz-zivi-name
    max-width: 80px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap