/**
 * `user_feedback` Page Component
 */
.page__user_feedback_overview

  .chapter
    background-color: #cccccc

  .container
    background-color: #ebebeb

  .feedback
    border-color: gray
    border-style: solid

    .progress.vertical.progress-striped
      height: 50px
      width: 20px

    .progress.vertical.progress-striped .progress-bar
      width: 100%
      background-color: white
      color: black